[2016-07-21 13:47] lewismc opened #7 "Replace all System.out.println statements with Solf4j-over-Log4j"
Slf4j is a simple but powerful logging framework fro Java. When writing Java code I typically always use Slf4j-over-Log4j for implementing application logging.
I am going to begin working on replacing all of the System.out.println with correct application logging.

[2016-07-21 13:52] Yongyao commented on #7
Lewis,

Just let you know, I noticed log4j is already being used by Spark internally. I was wondering if we need to include another log lib.

Yongyao

Sent from my iPhone

[2016-07-21 14:01] lewismc commented on #7
We just need to make it available at runtime so the Maven <scope> can be set to runtime. The Slf4j <scope> will be set to compile. This will enable us to have a mudrod.log file which will capture valuable mudrod application logging for debugging purposes.

[2016-07-21 14:02] lewismc commented on #7
The following files will be affected

[code]

[2016-07-21 18:23] #7 closed, assigned to nobody

[2016-07-21 19:54] lewismc opened #9 "Implement $MUDROD_HOME/bin/mudrod script"
Implement a $MUDROD_HOME/bin/mudrod script which will provide users with options to execute log ingestion, log deletion, etc. from the command line e.g. $MUDROD_HOME/bin/mudrod logimport /path/to/log, this will then run https://github.com/mudrod/mudrod/blob/war/core/src/main/java/esiptestbed/mudrod/weblog/pre/ImportLogFile.java with the relevant input parameter(s) in an ad-hoc fashion rather than

[2016-07-21 21:47] Yongyao opened #10 "mudrod-core pom error"
Error:
Description Resource    Path    Location    Type
org.apache.maven.archiver.MavenArchiver.getManifest(org.apache.maven.project.MavenProject, org.apache.maven.archiver.MavenArchiveConfiguration) pom.xml /mudrod-core    line 1  Maven Configuration Problem

I am not familiar with Maven config, but I found a discussion here @lewismc :
http://stackoverflow.com/questions/37555557/m2e-error-in-mave

[2016-07-21 22:23] lewismc opened #11 "Docker container for Mudrod"
As discussed in todays ESIP Mudrod Meetup, we should build a Docker container which packages the entire framework and makes it easy to use.
@Yongyao @quintinali I'll work with you both to achieve this.

[2016-07-22 14:36] lewismc commented on #10
Can you explain how and when this error arises? I am not able to reproduce it. Thanks @Yongyao

[2016-07-24 23:46] Yongyao opened #12 "Spark Startup error/warning"
Every time Spark starts, the error below is printed out in the logs. It doesn't not affect the results, and Spark still works, but I think this looks bad to the testers. @quintinali  didn't find a way to fix it, @lewismc can you help take a look.

I am testing the new code right now, and should be able to get back to you by the end of Monday.

2016-07-24 19:37:08,322 WARN org.spark-project.jetty.u

[2016-07-25 00:36] lewismc commented on #12
This has to do with your local environment.
Please consult
https://support.datastax.com/hc/en-us/articles/207356773-FAQ-Warning-message-java-net-BindException-Address-already-in-use-when-launching-Spark-shell
Let me know if you resolve it.

On Jul 24, 2016 4:46 PM, "Yongyao Jiang" notifications@github.com wrote:

[2016-07-25 18:38] Yongyao opened #13 "Failed to start mudrod service"
@lewismc
1. In eclipse, right click on murdrod-service, run as -> run on server -> tomcat 7, you would see the error below.

**This tomcat problem has been solved. Looks like tomcat messed up old mudrod project and the new code. Removing servers and start a new configuration has solved this issue. But jetty:run issue never go away, there might be something wrong with pom, I guess.**

java.util.con

[2016-07-25 22:14] lewismc commented on #13
Hi Yongyao, this is an environment issue with your eclipse set up.
https://dzone.com/articles/jetty-and-eclipse-integration-0
Let me know if you continue to have issues.
Thanks

On Monday, July 25, 2016, Yongyao Jiang notifications@github.com wrote:

##

_Lewis_

[2016-07-26 19:10] Yongyao commented on #13
Thanks, @lewismc . I have made it work in eclipse now. I am thinking, maybe we could have a short google hangout to discuss the ranking algorithm. I was wondering, what time is good for you on Thursday or Friday this week? Or maybe we can meet in person if you are in DC area.

[2016-07-27 00:52] lewismc commented on #11
This is addressed and documentation can now be located in the README, you can also consult https://hub.docker.com/r/mudrod/mudrod/ which is our automated builds for the Dockerfile

[2016-07-27 00:52] #11 closed, assigned to nobody

[2016-07-27 00:54] lewismc commented on #9
This issue is now addressed and you can run ./bin/mudrod to see a list of 'tools' we can invoke in a more friendly manner.

[2016-07-27 00:54] #9 closed, assigned to nobody

[2016-07-27 01:05] lewismc commented on #13
Friday would be best. If this issue is now resolved please close it off. Thanks. Let me know when on Friday you are able to meet.

[2016-07-27 01:05] lewismc commented on #10
@Yongyao PING

[2016-07-27 01:07] lewismc opened #15 "Add publications page to the Wiki"
Hi @Yongyao can you please add a publications page to the Mudrod wiki page?
https://github.com/mudrod/mudrod/wiki
Then link to it from https://github.com/mudrod/mudrod#publications

[2016-07-27 01:46] Yongyao commented on #15
Done

[2016-07-27 01:46] #15 closed, assigned to nobody

[2016-07-27 01:51] Yongyao commented on #13
How about 11am?

On Tue, Jul 26, 2016 at 9:05 PM, Lewis John McGibbney <
notifications@github.com> wrote:

##

Yongyao Jiang
Ph.D. Student in Earth Systems and GeoInformation Sciences
NSF Spatiotemporal Innovation Center http://stcenter.net
Department of Geography and GeoInformation Science
George Mason University
4400 University Drive, Fairfax, VA 22030

[2016-07-27 01:51] lewismc opened #16 "Implement Core Ontology Processing"
We should be able to use ontology(ies), in particular classes, to enhance a users search through knowledge-based refinement. We need to implement some sort of term suggestion based on classes present within earth science ontologies as per the Ontology Integration Action Plan.

[2016-07-27 02:01] lewismc commented on #13
11am PST or EST?

[2016-07-27 02:08] Yongyao commented on #13
11am EST. I thought you are still in DC area. Feel free to propose any
other time, my schedule is pretty open on Friday.

On Tue, Jul 26, 2016 at 10:01 PM, Lewis John McGibbney <
notifications@github.com> wrote:

##

Yongyao Jiang
Ph.D. Student in Earth Systems and GeoInformation Sciences
NSF Spatiotemporal Innovation Center http://stcenter.net
Department of Geography and GeoInformation Science
Ge

[2016-07-27 02:22] lewismc commented on #13
Thats 8am for me. Thats fine. Please let me know on GHangout when you are ready.
Thanks

[2016-07-27 02:22] #13 closed, assigned to nobody

[2016-07-27 04:42] lewismc opened #17 "Establish automated deployment of Mudrod to NSF Infrastructure"
Hi @Yongyao, we should establish an automated process which polls the Github master branch, fetches (upon commit to master branch), builds and deploys the Web application and codebase to the Testbed server we have running.
Can you please post here the link to the testbed server.
We can work on this when we talk on Friday.

[2016-07-28 21:49] Yongyao opened #18 "Failed to start service with updated code"
Both @quintinali and I failed to start the service after updating the code, already spent several hours on it, but still didn't get any clue. @lewismc , can you help take a look? This might be related to some changes recently committed.

It saysSLF4J cannot be found, but I didn't see anyone change the maven dependency.

?? 28, 2016 5:44:35 ?? org.apache.catalina.core.StandardContext listenerStart

[2016-07-28 21:52] lewismc commented on #18
How are you trying to start the service? It is impossible for me to debug unless you give me instructions on how you are attempting to set it up.
Only then can I debug what is going on.
Thanks n advance.

[2016-07-28 21:55] Yongyao commented on #18
In eclipse, right click project -> run on server, -> then the error would appear. I didn't find the slf4j in any pom though.

If you can't duplicate it, I will just show you tomorrow.

[2016-07-28 21:58] lewismc commented on #18
Thanks, I'll scope it out right now.

[2016-07-28 22:53] lewismc commented on #18
Hi @Yongyao I cannot reproduce this issue, I can only assume it has to do again with your local environment.
When I start the .war file from within Tomcat, in Eclipse, all goes to plan. As evidence, I've included screenshots of Mudrod UI running inside of Eclipse at localhost:8080/mudrod-service, I've also included the Servlet Container log

[code]

![screen shot 2016-07-28 at 3 56 37 pm 2](https:

[2016-07-28 22:53] lewismc commented on #18
I can also access the Spark UI running on http://10.99.144.62:4040/jobs/

[2016-07-29 00:31] Yongyao commented on #18
Hi @lewismc .Based on the printed logs, I can see the code you just executed is not the latest code for sure. You may need to sync with the remote repo.

[2016-07-29 00:39] Yongyao commented on #18
This is the code weeks ago.

[2016-07-29 01:13] Yongyao commented on #18
Problem solved. Update maven project to sync Eclipse project settings.

[2016-07-29 01:13] #18 closed, assigned to nobody

[2016-07-29 02:19] lewismc commented on #18
Mvn eclipse:eclipse right?

On Thursday, July 28, 2016, Yongyao Jiang notifications@github.com wrote:

##

_Lewis_
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director
Phone: +1(626)498-3090
Skype: lewis.john.mcgibbney
Email: lewis.mcgibbney@gmail.com

[2016-07-29 02:26] Yongyao commented on #18
**Mvn eclipse:eclipse** is something I have done before project is imported into eclipse. It turns out that it is not enough if I want to run service, I need to right click on mudrod-service, and click **maven -> update project**. But I have no idea why it is necessary and what are their differences.

[2016-07-29 05:35] lewismc commented on #18
Because eclipse does not automatically update to the newly configured
project.
You should ALWAYS refresh yourproject in eclipse.

On Jul 28, 2016 7:26 PM, "Yongyao Jiang" notifications@github.com wrote:

[2016-07-29 17:23] lewismc opened #19 "Implement commons-cli for all Tool invocation and CLI logic"
The Commons Command Line Interface library is a very widely used implementation for all CLI logic.
https://commons.apache.org/proper/commons-cli/
I propose to use it for all Mudrod tools such that we can create better CLI code.

[2016-07-29 18:07] Yongyao opened #20 "Start service with tomcat in eclipse"
@lewismc The same error is still here. I even tried it on a different machine.

SEVERE: A child container failed during start
java.util.concurrent.ExecutionException: org.apache.catalina.LifecycleException: Failed to start component [StandardEngine[Catalina].StandardHost[localhost].StandardContext[/mudrod-service]]
    at java.util.concurrent.FutureTask.report(Unknown Source)
    at java.util.conc

[2016-07-29 18:08] Yongyao commented on #19
Agreed. Please let us know when you create a example. Changing "LogIngest" to the standard CLI could is good enough. Thanks. @lewismc

[2016-07-29 18:31] Yongyao commented on #20
Found a solution on stackoverflow. This is supposed to be a tomcat or eclipse bug. Need to delete some configuration folders and restart eclipse again

http://stackoverflow.com/questions/13244233/server-tomcat-v7-0-server-at-localhost-failed-to-start-without-stack-trace-whi

[2016-07-30 16:57] lewismc commented on #20
Yes, the issue is not in our Mudrod configuration or build definition.

On Friday, July 29, 2016, Yongyao Jiang notifications@github.com wrote:

##

_Lewis_
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director
Phone: +1(626)498-3090
Skype: lewis.john.mcgibbney
Email: lewis.mcgibbney@gmail.com

[2016-08-01 01:40] Yongyao opened #21 "Potential mistake in ClickstreamAnalyzer"
I found this probably is a mistake.
@quintinali Can you check on this? Is the highlighted code supposed to be config.get("clickstreamSVDMatrix_tmp")

SVDAnalyzer svd = new SVDAnalyzer(config, es, spark);
      svd.GetSVDMatrix(config.get("clickstreamMatrix"),
          Integer.parseInt(config.get("clickstreamSVDDimension")),
          config.get("clickstreamSVDMatrix_tmp"));
      List<LinkageTrip

[2016-08-01 14:14] quintinali commented on #21
Yes,  it should be clickstreamSVDMatrix_tmp. I will fix this bug.

[2016-08-02 17:46] lewismc commented on #19
@Yongyao pull request coming up shortly.

[2016-08-02 19:54] #20 closed, assigned to nobody

[2016-08-02 20:09] Yongyao opened #23 "ML ranking algorithm implementation"
@lewismc I have searched for ML libraries that can provide "Learning to Rank" APIs for days, but I still cannot find a good one.

http://www.cs.cornell.edu/people/tj/svm_light/svm_rank.html  (Written in C++)
https://github.com/jattenberg/RankLib (Written in Java, but does not provide API, and no comment at all)

Inspired by this Python code: http://fa.bianp.net/blog/2012/learning-to-rank-with-scik

[2016-08-03 15:42] #21 closed, assigned to nobody

[2016-08-04 18:55] Yongyao opened #25 "Command line execution error"
@lewismc In case you missed the issue in pull request. This is the command I use: -l -logDir C:\mudrodLogIngest

ERROR main.MudrodEngine              - MudrodEngine: 'logDir' argument is mandatory. User must also provide either 'logIngest' or 'fullIngest'.
java.lang.NullPointerException
    at esiptestbed.mudrod.main.MudrodEngine.main(MudrodEngine.java:213)

Am I doing it wrong?

[2016-08-05 04:23] lewismc commented on #25
Yes you are.
You should be executing exactly what is says

[code]

Please try that and then reply back here if it works.
Thanks @Yongyao

[2016-08-05 04:24] lewismc opened #26 "Refactor, document and reformat ImportLogFile.java"
Right now the [InportLogFile.java](https://github.com/mudrod/mudrod/blob/master/core/src/main/java/esiptestbed/mudrod/weblog/pre/ImportLogFile.java) is a bit of a mess in terms of use of efficient data structures, documentation and general presentation.
PR coming up to solve this.

[2016-08-05 14:27] Yongyao commented on #25
@lewismc Still doesn't work.

ERROR main.MudrodEngine              - MudrodEngine: 'logDir' argument is mandatory. User must also provide either 'logIngest' or 'fullIngest'.
org.apache.commons.cli.UnrecognizedOptionException: Unrecognized option: --logDir

I also tried --logIngest --logDir C:\mudrodLogIngest, and -l -logIngest -logDir C:\mudrodLogIngest

Neither of them work.

[2016-08-05 16:01] Yongyao commented on #26
OK, I saw you have made a few changes to this file. I will continue to work on it.

[2016-08-09 18:09] #26 closed, assigned to lewismc

[2016-08-09 18:10] #19 closed, assigned to lewismc

[2016-08-09 18:11] lewismc commented on #12
@Yongyao PING is this still an issue? If not then please resolve.

[2016-08-09 18:11] lewismc commented on #10
@Yongyao is this still an issue? If not then please resolve.

[2016-08-09 18:22] lewismc commented on #25
@Yongyao please look at the command line options which you are provided with
When I execute

[code]

or for you on Windows

[code]

You are provided with

[code]

Please look at the command line options I am now providing

[code]

The above command line invocation would
a) begin log ingest with the WeblogDiscoveryEngine only, and
b) provide the log path on the local file system
This currently work

[2016-08-09 18:58] Yongyao commented on #10
It still exists on one of my local machine, but the program can run fine with this error. I will close this for now.

[2016-08-09 18:58] #10 closed, assigned to Yongyao

[2016-08-09 18:58] #12 closed, assigned to Yongyao

[2016-08-09 19:00] Yongyao commented on #18
Program solved. For the record, fixing this problem needs to delete some meta configuration of workspace.

[2016-08-09 19:30] Yongyao commented on #25
Yes, I tried to debug with exactly the same command line you provided.
`-logDir /usr/local/mudrod/bin/ -l`
But the processingType is always null after the following code.

[code]

line.hasOption(LOG_INGEST) is true. line.getOptionValue(LOG_INGEST) returns null.

[2016-08-10 00:44] lewismc commented on #25
@Yongyao please see #28

[2016-08-10 19:04] lewismc commented on #25
Closing as this appears to have been resolved

[2016-08-10 19:04] #25 closed, assigned to lewismc

[2016-08-10 19:10] lewismc opened #29 "Change permissions of bin/mudrod script"
Right now, when I attempt to pull and build the Docker container on the remote NSF host, I run into permission issues from within the running container process when attempting to run jobs from the $MUDROD_HOME/bin/mudrod script.
Pull request coming up.

[2016-08-10 19:15] lewismc commented on #29
Issue addressed within #30

[2016-08-10 19:15] #29 closed, assigned to nobody

[2016-08-16 16:33] lewismc opened #33 "Ingest PO.DAAC extractions into ESIP Ontology Portal"
Based on the availability of ontology-enhanced search within Mudrod. We should at some stage have an underlying triples store. This needs to be discussed with the project team.

[2016-08-16 16:37] lewismc opened #34 "KB: Voc.Sem.Rel"
an integrated GUI, DB,

[2016-08-16 16:38] lewismc opened #35 "GUI: OntoNav"
integrate similarity results

[2016-08-16 20:17] Yongyao opened #36 "Size of binary file stored in java resource folder gets changed in target"
@lewismc I am trying to load the ML classifier model, which is a binary file, from resource folder, but it gives me an reading error. After looking into it, I found the size gets changed after maven build.

java.io.StreamCorruptedException: invalid stream header: EFBFBDEF
    at java.io.ObjectInputStream.readStreamHeader(ObjectInputStream.java:806)
    at java.io.ObjectInputStream.<init>(ObjectInp

[2016-08-16 20:19] lewismc commented on #36
Please send me the binary file.

[2016-08-16 20:23] Yongyao commented on #36
Btw, this is code used to load it.

[code]

[2016-08-16 20:45] lewismc commented on #36
Thats fine.

[2016-08-16 20:46] Yongyao commented on #35
I suppose OntoNav means the hyperlink you mentioned earlier, not the vocab graph we already have, right?
Btw, what do you think is the best approach to integrate your ontology terms into the vocab graph. Is there a API I can use to extract triples that have "subclass" or "equivalentclass"?

[2016-08-16 20:47] lewismc opened #37 "Fix Maven Compiler Discrepancies"
[code]

[2016-08-16 20:52] lewismc commented on #35
Yes there is. Once I've updated me code and pushed later today I will
explain to you how we can do that.
Thanks

On Tue, Aug 16, 2016 at 1:46 PM, Yongyao Jiang notifications@github.com
wrote:

##

_Lewis_
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director
Phone: +1(626)498-3090
Skype: lewis.john.mcgibbney
Email: lewis.mcgibbney@gmail.com

[2016-08-16 21:40] quintinali opened #38 "Add comments_yun"
add comments for utils, semantics, metadata, web logs

[2016-08-16 22:20] quintinali commented on #38
@lewismc I followed this guide(https://github.com/mudrod/mudrod/wiki/Mudrod-Development-Workflow)  to create a new branch and finish step 8. It seems that I still directly commit to master. Could you please check it when you have time?

[2016-08-16 22:21] lewismc commented on #38
Did you send your pull request?

[2016-08-16 22:22] quintinali commented on #38
I did not send pull request yet

[2016-08-16 22:23] lewismc commented on #38
Well send the pull request e.g. in "Creating Pull Request" progress to Number 10. Once that is done you should be able to open a pull request.

[2016-08-16 22:30] quintinali commented on #38
@lewismc I can not find the new branch named "MUDROD-addcomment-yun" in github web page, however, I can find it in my github desktop tool.  Can I pull  request from "MUDROD-addcomment-yun" into master from git hub desktop tool?

[2016-08-16 22:35] lewismc commented on #38
If you are using the Github Desktop application please see
https://help.github.com/desktop/guides/contributing/sending-a-pull-request/
Thanks

[2016-08-16 22:51] quintinali commented on #38
@lewismc It seems that the pull request is automatically merged to the master, which is commit 6425a2f955353b8fcb2c8d85987dc9458f51f73e. Am I right?  If the branch is  automatically merged to the master, how can we check the format of code and make sure the continuous integration test successful before merging branch into master?

[2016-08-16 23:03] lewismc commented on #38
You are not creating branches correctly. Please read the link I posted above. You will need to learn this as it is important in using a source code management platform like Github. Thanks.

[2016-08-16 23:32] lewismc opened #39 "Prefer Elasticsearch TransportClient over Node"
Right now in [ESDriver.java](https://github.com/mudrod/mudrod/blob/master/core/src/main/java/esiptestbed/mudrod/driver/ESDriver.java#L77-L105) we are ALWAYS creating a new Elasticsearch Node as per the following constructors

[code]

This is not the preferred way to interact with an existing Elasticsearch cluster and we should use the more efficient TransportClient instead.

[code]

This will sign

[2016-08-16 23:43] quintinali commented on #38
@lewismc  Thanks for your help. I will recreate a branch according to the guild later. Since I have directly submitted code to the master, do I need to reverse the commit in the master?

[2016-08-17 00:44] lewismc commented on #38
Not for the time being it is OK. Please create branches in the future so we can all review. Thank you

[2016-08-17 00:57] lewismc opened #40 "Use SonarQube.com with Travis CI"
SonarQube.com is a cloud service offered by SonarSource and based on SonarQube. SonarQube is a widely adopted open source platform to inspect continuously the quality of source code and detect bugs, vulnerabilities and code smells in more than 20 different languages.

The Mudrod codebase would benefit significantly from an automated quality metric from SonarQube.

More documentation can be found a

[2016-08-17 14:33] Yongyao commented on #39
I agree. Are suggesting we should do this? or you already did by yourself?

[2016-08-17 14:38] lewismc commented on #39
Ill push some code in around an hour. Ive improved a lot if code so thr PR
is pretty big now.

On Aug 17, 2016 7:33 AM, "Yongyao Jiang" notifications@github.com wrote:

[2016-08-17 14:44] Yongyao commented on #39
How is the binary file size change issue? If it can be solved, I think we are ready to merge both ranking and recommendation code into the master this week.

[2016-08-17 17:42] Yongyao opened #41 "MUDROD user and installation manual"
@lewismc @quintinali This is the link to the most up-to-date user manual. Please update it with your newly developed functions.

https://docs.google.com/document/d/1iwWa8Rem9ktOZmUsA1tvlMKcnZcwDBJjN2AFeM5rW3o/edit

0)     installation or docker container (Lewis)
1)  web log ingesting; (CLI, yongyao)
2)  session reconstruction; (add how to run command line, Yun)
3)  vocabulary semantic relationship

[2016-08-17 19:19] lewismc commented on #39
This issue is being addressed over in #39

[2016-08-18 00:42] lewismc opened #43 "Add maven-findbugs-plugin to pom.xml"
FindBugs looks for bugs in Java programs. It is based on the concept of bug patterns. A bug pattern is a code idiom that is often an error. Bug patterns arise for a variety of reasons:

[code]

FindBugs uses static analysis to inspect Java bytecode for occurrences of bug patterns. We have found that FindBugs finds real errors in most Java software. Because its analysis is sometimes imprecise, Find

[2016-08-18 01:55] lewismc commented on #43
There are a number of issues plagged up by the Findbugs analysis. I am going to open another issue to resolve these bugs.
The Findbugs analysis can be executed by running
`mvn findbugs:findbugs`

[2016-08-18 01:55] #43 closed, assigned to lewismc

[2016-08-18 02:25] lewismc opened #45 "Add codecov.io support"

[2016-08-18 02:36] #45 closed, assigned to nobody

[2016-08-18 03:50] lewismc opened #47 "Fix findbugs issues"
The following screenshot is an example of the issues flagged within the findbugs report when we execute `mvn clean install`.
We should address these issues and improve the quality of the mudrod codebase.

![screen shot 2016-08-17 at 8 55 48 pm](https://cloud.githubusercontent.com/assets/1165719/17761453/18053d74-64bc-11e6-905c-7fd2a0813b7b.png)

[2016-08-18 21:03] Yongyao opened #48 "MUDROD system design document"
Link to the very first version of SDD: https://docs.google.com/document/d/1fMxCUW1gdOU14u0CVQ_Q3uHpFbBSIpR7rGmUytAujVc/edit

web log ingesting; (Yongyao)
session reconstruction; (Yun)
vocabulary semantic relationship extraction; (Yongyao)
ontology navigation; (to be added, Lewis)
search ranking; (to be extended, Yongyao)
recommendation (to be added, Yun)

[2016-08-24 18:49] lewismc commented on #40
This is addressed and the evaluation can be found at
https://sonarqube.com/overview?id=esiptestbed%3Amudrod-parent

[2016-08-24 18:49] #40 closed, assigned to lewismc

[2016-08-25 19:29] quintinali commented on #41
@lewismc Could you please add ontology navigation user guide?

[2016-08-25 21:37] lewismc commented on #41
Yes, I will do it will be done for tomorrow as explained on the call on
Wednesday.
Thanks

On Thursday, August 25, 2016, quintinali notifications@github.com wrote:

##

_Lewis_
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director
Phone: +1(626)498-3090
Skype: lewis.john.mcgibbney
Email: lewis.mcgibbney@gmail.com

[2016-08-25 23:22] Yongyao opened #49 "Benchmark log ingest"
Perform log ingestion tests to benchmark log ingestion speed.

[2016-08-25 23:23] Yongyao opened #50 "Crawler detection improvement"
Write the implementations and also write tests to validate.

[2016-08-26 02:03] lewismc commented on #50
This issue concerns the code present within [CrawlerDetection.java
](https://github.com/mudrod/mudrod/blob/master/core/src/main/java/esiptestbed/mudrod/weblog/pre/CrawlerDetection.java#L58-L72) which is too static in nature and which is not accurately capturing all of the Web crawlers which appear within HTTP. FTP, etc. logs.
We need to use a more intelligent mechanism for detecting Web crawlers w

[2016-08-26 02:57] Yongyao commented on #50
Any quick solution or suggestion right now.

Sent from my iPhone

[2016-08-26 03:10] lewismc commented on #50
This is not an easy issue to tackle. I've been writing Web crawlers (and search engines) for years so have experienced this issue from both sides of the table.
Sites exist such as [user-agents.org](http://www.user-agents.org/), [robotstxt.org](http://www.robotstxt.org/db.html) and [botsvsbrowsers.com](http://www.botsvsbrowsers.com) however unfortunately we've found that bot activity is too numerou

[2016-08-26 03:27] #39 closed, assigned to lewismc

[2016-08-26 04:40] #38 closed, assigned to quintinali

[2016-08-26 14:37] Yongyao commented on #49
For your reference, this is the preprocessing time of logs of 201409. The importing time is 4000+s now.

2016-08-25 17:14:25,543 INFO esiptestbed.mudrod.discoveryengine.WeblogDiscoveryEngine: ****************_Web log preprocessing starts**_***************
2016-08-25 17:14:25,543 INFO esiptestbed.mudrod.discoveryengine.WeblogDiscoveryEngine: ****************_Web log preprocessing starts**_*********

[2016-08-26 15:58] lewismc commented on #49
I will attach a profiler today and try to find out where the ecrease in writer performance is here.

[2016-09-01 20:35] Yongyao opened #52 "Slow ranking speed"
The speed for most of the queries are fine, but for queries that have lots of returned results such as "ocean temperature", the speed is very slow (>10s).

I am trying solve this problem through multi-threading, but there is an issue that I cannot fix. Maybe I can use some different eyes.

Detailed problem statement: normally, if a>b and b>c, a>c. But this may not be true in our case, because our

[2016-09-02 16:40] quintinali opened #53 "deploy mudrod using docker"
@lewismc I tried to deploy MUDORD on VM(199.26.254.146) following docker user guide https://github.com/mudrod/mudrod/tree/master/docker

When I run the command `docker run -t -i mudrod/mudrod /bin/bash`,  the system considered  it as  unknow  command.

![image](https://cloud.githubusercontent.com/assets/8673393/18211067/8729d882-70f0-11e6-9b60-03b58329f341.png)

Could you please take a look?

[2016-09-03 19:51] Yongyao commented on #52
Problem solved by using Spark Mlib SVM to replace WEKA

[2016-09-03 19:51] #52 closed, assigned to lewismc, Yongyao, quintinali

[2016-09-03 19:52] Yongyao commented on #36
I have replace weka with Spark Mlib SVM module, but the problem still exists.

[2016-09-12 01:40] Yongyao commented on #23
I ended up using RankSVM algorithm and Spark MLlib

[2016-09-12 01:40] #23 closed, assigned to Yongyao

[2016-09-12 01:48] Yongyao opened #54 "Unpredictable shutdown of MUDROD web service"
Right now, we are working on this branch, which is the only branch that has ranking and recommendation functions. https://github.com/mudrod/mudrod/tree/temp0907
After service is started, it works well in the beginning, but automatically shuts down after 2~4 hours. No error log is found either in jetty log or mudrod.log.

Just to let you know, in the servlet web listener, we started one ES transpor

[2016-09-13 21:52] Yongyao commented on #53
Yun has create an image on her own. I guess the problem she is having is how to start ES, Kibana, and other software automatically when starting docker.

[2016-09-13 22:16] quintinali commented on #53
https://hub.docker.com/r/quintina/mudrod/tags/

[2016-09-13 22:16] lewismc commented on #54
You should not use `mvn jetty:run` for any production box it is unstable and should be used for development only.

[2016-09-13 22:19] lewismc commented on #54
This is described at https://github.com/mudrod/mudrod#deploying-to-apache-tomcat-or-any-other-servlet-container
If you have any issues running in Tomcat then let me know and we can reopen here.

[2016-09-13 22:19] #54 closed, assigned to lewismc, Yongyao, quintinali

[2016-09-13 22:22] lewismc commented on #54
README has been updated. Please see

[code]

[2016-09-13 22:26] lewismc commented on #53
I will revise the existing Docker container to
- run on CentOS7
- Oracle JDK8
- Cannot start services as ROOT
- Deploy Kibana 4.5.1
- Need to investigate why the Git command is not working.
- Ensure that Tomcat is downloaded and is used as the servlet container.

[2016-09-14 00:44] quintinali commented on #53
Hi Lewis, I installed tomcat in a docker container, however, the service can't be started with the prompt "Failed to get D-Bus connection: Operation not permitted"

I referred to following links
https://github.com/docker/docker/issues/2296
https://bbs.archlinux.org/viewtopic.php?id=194102

But I didn't solve the issue. Could you please take a look when you have time.

FYI:
$ docker pull quintina/m

[2016-09-14 01:11] quintinali commented on #53
It turns out that I should download tomcat package and start it with shell file, rather than use yum command to install tomcat.

[2016-09-14 06:19] quintinali commented on #53
14-Sep-2016 06:07:53.806 INFO [main] org.apache.catalina.startup.Catalina.start Server startup in 930770 ms

It took more than 15 minutes to deploy MUDROD web service in the container. Do you know how to solve this problem?

The war package I used was mudrod-service-0.0.1-SNAPSHOT.war, generated by command "mvn war:war". And the size was 155861377.

[2016-09-15 20:20] lewismc opened #55 "Have logging print to terminal as well as mudrod.log"
Currently the logging is configured within [log4j.properties](https://github.com/mudrod/mudrod/blob/master/core/src/main/resources/log4j.properties) we need to ensure that application output is also printed to the terminal.

[2016-09-15 20:56] lewismc opened #56 "Memory leak in mudrod .war artifact"
Upon analysis of local catalina.out log, I see the following

[code]

There are a number of other issues noted within my local log which I am going to work through however for the time being this one will be dealt with first.

[2016-09-15 22:31] Yongyao commented on #56
Yeah, this is the problem I saw before. But it's hard to duplicate. I think it's one of the reasons that caused random shutdown. Thanks, Lewis

Sent from my iPhone

[2016-09-16 04:15] lewismc commented on #36
@Yongyao look at the following, when I find the size of the model file

[code]

then when I build the project I see that the file size is the exact same

[code]

The size remains at 136 bytes... which is extremely small. Are you sure this is the correct file?

[2016-09-16 04:25] lewismc opened #57 "java.lang.RuntimeException: Cannot determine the number of rows because it is not specified in the constructor and the rows RDD is empty."
This is when running a logIngest from the temp0907 branch with some local modifications I've been working on.

[code]

[2016-09-16 04:26] lewismc commented on #57
Also included within the log is the following exception

[code]

[2016-09-16 04:30] Yongyao commented on #36
The real problem is, if I store the model on a local path, it can be read (in learner. Java constructor method). But there would be an error, when storing in under resource folder. Btw, the model should be a folder, not just a file.

Sent from my iPhone

[2016-09-16 04:34] Yongyao commented on #57
The logDir data you are using are not designed for this. Yun will share some logs with you

Sent from my iPhone

[2016-09-16 04:43] lewismc commented on #57
... please as soon as possible. I have upgraded to Spark 2.0.0 and would like to address this before the weekend comes up. Thanks.

[2016-09-16 04:44] lewismc commented on #57
We need to have the logDir available from google drive and the link shared to mudrod-all@ list please. This is a waste of time if we don't have the most up-to-date code and resources available. Thanks I appreciate it.

[2016-09-16 04:52] lewismc commented on #36
The model is a folder called `javaSVMWithSGDModel` containing both

[code]

[2016-09-16 04:54] quintinali commented on #57
Here is the link for test logs.
https://drive.google.com/open?id=0BwHfRxX3bkBTcGVhRENpMEdnVnc
I also sent them to your Gmail.

[2016-09-16 05:00] lewismc commented on #57
Thank you very much @quintinali this is great.

[2016-09-16 05:20] quintinali commented on #36
@lewismc, when Yongyao put the RankingModel  under the resources directory, and load the model in the Learner.java using relative path, Mudrod doesn't work when it is started as a web service.

[2016-09-16 07:45] lewismc commented on #36
OK thanks I am investigating.

[2016-09-16 07:53] lewismc commented on #55
I've fixed this in my current additions to the temp0901 branch. I will push them shortly.

[2016-09-16 07:54] lewismc commented on #57
This is fixed by using the correct inputs however we need to improve Exception handling at some point to accommodate the possibility of files not being present.

[2016-09-16 07:54] #57 closed, assigned to lewismc

[2016-09-16 07:55] lewismc commented on #49
@Yongyao @quintinali lets have a call shortly to discuss how we can write a test suite for this. It is a critically import aspect of the Mudrod application and I think we need to agree upon how this is going to work.

[2016-09-16 08:33] lewismc opened #58 "Add progress bar to individual tasks extending DiscoveryStepAbstract"
Right now, application logs just sit and wait, for quite some time... ideally we would have a command line progress bar which would indicate progress. This issue should provide this functionality for system administrators to see job progress.

[2016-09-16 08:39] lewismc commented on #50
Another article I started reading http://searchengineland.com/7-fundamental-technical-seo-questions-to-answer-with-a-log-analysis-and-how-to-easily-do-it-245903

[2016-09-16 08:41] lewismc commented on #58
Possible candidate https://github.com/raszi/java-progressbar

[2016-09-16 15:06] Yongyao commented on #58
Agree, we can definitely do this after testing.

[2016-09-16 15:12] Yongyao commented on #56
I just realized it is because the ES client created in contextlistener won't be closed if the tomcat is shutdown.
https://github.com/mudrod/mudrod/blob/temp0907/service/src/main/java/esiptestbed/mudrod/webservlet/MudrodWebListener.java#L56

I should have closed the client in the contextDestroy() method.
https://github.com/mudrod/mudrod/blob/temp0907/service/src/main/java/esiptestbed/mudrod/webserv

[2016-09-16 15:13] Yongyao commented on #55
Can you push them ASAP so that we can update the user manual and associated videos.

[2016-09-16 15:15] Yongyao commented on #49
@lewismc No problem. Just let us know your best time.

[2016-09-16 17:51] lewismc commented on #55
Done, you can find my most recent code within https://github.com/mudrod/mudrod/pull/59

This is also available via the spark2.0.0 branch https://github.com/mudrod/mudrod/tree/spark2.0.0

[2016-09-16 17:52] lewismc commented on #56
yes that is exactly what is happening. Please address this issue and add it to the spark2.0.0 branch thank you.

[2016-09-16 17:52] lewismc commented on #58
ack

[2016-09-17 00:47] Yongyao opened #60 "Service of Spark2.0.0 branch cannot be started"
I was trying to start service in eclipse. Please see the error below.

2016-09-16 20:35:48,460 ERROR [localhost].[/mudrod-service](DirectJDKLog.java:log%28185%29) - Exception sending context initialized event to listener instance of class esiptestbed.mudrod.webservlet.MudrodWebListener
java.lang.IllegalArgumentException: java.net.URISyntaxException: Relative path in absolute URI: jar:file:/C:/Ecli

[2016-09-17 01:35] lewismc commented on #60
Let's focus on log ingestfirst.
We can address web application all together once this branch is merged into master.

[2016-09-17 01:36] lewismc commented on #60
As I said on my pull request or in subsequent comments, the web application can be addressed once we merge spark2.0.0 into master

[2016-09-17 01:54] Yongyao commented on #60
OK, no problem. But I just realized I failed using mvn clean install to build this branch (I didn't make any changes). Please see the error.

![image](https://cloud.githubusercontent.com/assets/5552606/18605152/165ed7f6-7c58-11e6-958c-163b0feae706.png)

[2016-09-17 03:20] lewismc commented on #60
Please ensure that you've changed into a new branch and then pulled from
the spark2.0.0 branch.. If it didn't compile then the Travisci build would
not pass..

On Sep 16, 2016 6:54 PM, "Yongyao Jiang" notifications@github.com wrote:

[2016-09-17 04:14] Yongyao commented on #60
It works on my office machine, just doesn't work on my laptop. I am using Github desktop. All I did is switch to spark2.0.0 and do "mvn clean install". I tried remove the repo and download it again, still no luck. What do you mean by "changed into a new branch and pull.." Is there any command I can try?

Btw, I just merged the latest change of temp0907 with Spark2.0 branch. Yes, if we ignore web s

[2016-09-18 04:03] Yongyao commented on #55
The logs are being printed out on the terminal, but there are a lot of low level logs, such as the log from elasticsearch and spark, which kind of confuses user. It would be better if we could remove them and only keep logs like "log ingest starts/ends".

![image](https://cloud.githubusercontent.com/assets/5552606/18612844/4a7a6e7a-7d33-11e6-97f1-acaae9550178.png)

[2016-09-19 14:55] Yongyao commented on #56
Fixed in fb38aa2ddd83f3d94c456af7eb87fd9c49e7348e

[2016-09-19 14:55] #56 closed, assigned to lewismc

[2016-09-19 19:03] lewismc commented on #55
@Yongyao the application logs are not for users. They are for systems administrators such as you, Yun and me.
This being said, we can set custom logging levels for some packages as follows

https://github.com/mudrod/mudrod/blob/master/core/src/main/resources/log4j.properties#L76-L79

[2016-09-19 19:07] lewismc commented on #60
@Yongyao I am not able to reproduce this issue when building from spark2.0.0 HEAD. Can you please try the following

[code]

Please then paste in the contents of output.log or else link to the generated file from here please.

[2016-09-19 19:10] lewismc commented on #47
When I build the spark2.0.0 branch now, I am getting the following warnings

[code]

[2016-09-20 01:01] Yongyao commented on #60
Below is the command I used

[code]

This is the output
[INFO] Scanning for projects...
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Build Order:
[INFO]
[INFO] Mudrod :: Parent
[INFO] Mudrod :: Core
[INFO] Mudrod :: Service
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building Mudrod :: Parent 0.0.1-

[2016-09-20 14:01] lewismc commented on #60
Hi @Yongyao I am struggling to see how this is the case. Both my local build and TravisCI agree on the fact that the codebase compiles absolutely fine from the spark2.0.0 branch.
Can you please checkout a fresh copy of the codebase and also ensure that you have no local modifications.

[2016-09-24 00:17] lewismc commented on #55
This is resolved. If you want to improve logging then lets start a new issue @Yongyao

[2016-09-24 00:17] #55 closed, assigned to nobody

[2016-09-24 00:18] lewismc commented on #53
@quintinali did you get an opportunity to work any more on this?

[2016-09-24 01:16] quintinali commented on #53
@lewismc  I attended an ocean meeting this weekend, so I haven't addressed this issue.

[2016-09-24 01:54] lewismc commented on #53
Oh wow lucky you ☺
No problems at all.. Things are coming along nicely anyways.

On Sep 23, 2016 6:16 PM, "quintinali" notifications@github.com wrote:

[2016-09-27 18:26] Yongyao commented on #60
@lewismc @quintinali The compilation error has been fixed with 35f2fe2a8e10cac6d7a889b10e31bf2d5f4ea876 , but the service still cannot be started.

There are at least 2 problems here,
1. Spark itself has a bug on windows machine (not sure about mac). The solution is to manually set the Hadoop home dir, but the code has been removed in current code.
2. Error of read ranking model folder from resour

[2016-09-27 18:29] quintinali opened #62 "Using Elasticsearch-hadoop library to import and process logs in parallel"
We are using Elasticsearch version 2.3, which only supports up to spark 1.6.1. If we would like to use the Spark 2.0 compatibility, we will need to switch to using the 5.0.0-alpha5 version. However, it is an alpha release version and should be used for testing purposes only (i.e. not to be used in production).

Do you have any suggestion?

refer: https://discuss.elastic.co/t/write-es-error-with-sp

[2016-09-27 18:42] lewismc commented on #60
Hi Yongyao,
Replies inline

On Tuesday, September 27, 2016, Yongyao Jiang notifications@github.com
wrote:

http://nivemaham.com/index.php/technical/test33/21-spark/52-how-to-setup-apache-spark-on-windows-hands-on-complete-tutorial

I have not used windows in about 15 years so I am not the best person to
ask about this... Sorry.

Ok I will work on this after I finish off pass 1 of the ontology work

[2016-09-27 20:06] Yongyao commented on #60
@lewismc For the first issue, I agree. I just found a workaround to manually set up a hadoop environment on windows, which does not involve changing any java code. For my own record, this thread may help someone else in the futher. http://stackoverflow.com/questions/19620642/failed-to-locate-the-winutils-binary-in-the-hadoop-binary-path

For the second issue, below is the stack trace.

[code]

[2016-09-28 20:20] lewismc commented on #60
The above was the result of running `mvn tomcat7:run`

[2016-09-28 20:21] #16 closed, assigned to lewismc

[2016-09-28 20:39] lewismc opened #63 "Add autocompletion to the WebUI Query Bar"
At a bare minimum we should have auto completion functionality.

[2016-09-28 20:49] lewismc opened #64 "Presentation improvements to WebUI"
Looking at the ranked query results as below

<img width="1053" alt="screen shot 2016-09-28 at 1 42 58 pm" src="https://cloud.githubusercontent.com/assets/1165719/18931679/0c74cde4-8582-11e6-97e8-859c85449dac.png">

We need to
- choose a 'brighter' color of green... the dark green does not stuck out very well and may be difficult for some people to read.
- ensure that all columns are uniformly for

[2016-09-28 21:39] lewismc opened #65 "Integrate ESIP Semantic Portal into MUDROD Relevancy Ranking"
[EsipSRIOntology.java](https://github.com/mudrod/mudrod/blob/master/core/src/main/java/esiptestbed/mudrod/ontology/process/EsipSRIOntology.java) sets the basis for utilizing the entire [ESIP community ontology repository](http://cor.esipfed.org/ont).

The implementation needs to be finished off such that it can interact with the [ORR Ont REST API](http://mmisw.org/orrdoc/api/).

[2016-09-28 21:48] lewismc opened #66 "Implement ontology term suggestion/expansion in WebUI"
We need to add in the ability for users to select suggested entities being provided by the underlying ontology processing. These should be hyperlinked such that they invoke faceted search and can be used to slice datasets.

[2016-09-29 15:25] Yongyao opened #67 "SonarQube questions"
@lewismc I just installed the SonarQube plugin of eclipse. The question I have is, why am I only seeing 60 bugs on my local SQ, but there are 200+ on the remote one. Is it because different setting are used in local and remote ones? I am also trying to New a SQ server, but I don't have the information below.
![image](https://cloud.githubusercontent.com/assets/5552606/18960370/7b2de562-8637-11e6-94

[2016-09-29 15:47] Yongyao opened #68 "ESdriver cleanup"
@quintinali Can you move these two searchbyQuery() used by datasetDetail to somewhere else. Maybe a separate class in search package. It's bit messy here.

https://github.com/mudrod/mudrod/blob/master/core/src/main/java/esiptestbed/mudrod/driver/ESDriver.java#L249

[2016-09-29 16:14] lewismc commented on #67
Hi @Yongyao thanks for trying this out. I can promise you it will make a HUGE difference.
OK so now to the questions

In short yes, this is exactly the reason. The online SQ server has a 'policy' setup where types of issues are flagged as bugs, other issues are flagged as code smells, etc. I wouldn't worry too much about this though. We can just work through the issues online and you will see over

[2016-09-29 16:26] Yongyao commented on #67
Great. Let's keep this issue open until next week.

[2016-09-29 17:39] lewismc opened #69 "Evaluate use of org.apache.commons.lang and org.apache.commons.lang3 dependencies"
In mudrod-core, we DO NOT declare but actually DO use both of the following dependencies

[code]

... the issues is however that we only use one function from each dependency, and only on one occasion. We should probably try to write out own implementations and reduce the dependency usage.

[code]

[2016-09-30 04:19] lewismc commented on #60
@Yongyao this is addressed, once you have pulled master branch, built it, imported logs and deployed the Web application, then navigate to http://localhost:8080/mudrod-service

[2016-09-30 04:19] #60 closed, assigned to lewismc

[2016-09-30 04:20] lewismc commented on #68
yes it is. We should have a separate ESDriverSearch class.

[2016-09-30 20:06] quintinali commented on #68
Ok. I will let you know after I do the modification.

[2016-09-30 20:32] Yongyao opened #71 "Ranking improvment"
This includes adding more features, code quality improvement, and so on.

[2016-10-01 18:48] quintinali commented on #62
Branch name:  cc_es_hadoop
The first step is to update Elasticsearch from 2.3 to 5.0.0 beta1
1. I changed log4j configuration in pom.xml since Elasticsearch will no longer detect logging implementations. Could @lewismc revise my modification because I am not familiar with maven configuration.
https://www.elastic.co/guide/en/elasticsearch/reference/5.x/breaking_50_java_api_changes.html#_elasticsear

[2016-10-03 18:33] lewismc commented on #62
I'll scope this out tomorrow.

[2016-10-05 02:41] lewismc commented on #65
Having some issues with the ESIP COR which I've been working through over on a different issues tracker
https://github.com/mmisw/orr-portal/issues/74

[2016-10-07 17:52] Yongyao commented on #71
Found a few links about the search in Bloomberg,

https://www.techatbloomberg.com/blog/how-bloomberg-built-a-better-search-engine-with-open-source-technology/
https://www.youtube.com/watch?v=mz41RGhDu_k
https://berlinbuzzwords.de/sites/berlinbuzzwords.de/files/media/documents/berlin-buzzwords-news-search.pdf

[2016-10-11 20:12] lewismc opened #73 "vocab.html does not render correctly"
Using master branch, when I am navigating the WebApp, I get the following... which is not right. This needs to be addressed.

<img width="1440" alt="screen shot 2016-10-11 at 1 10 11 pm" src="https://cloud.githubusercontent.com/assets/1165719/19286862/32bf3be2-8fb4-11e6-9e77-c029d494e315.png">

[2016-10-11 20:27] Yongyao commented on #73
This html is supposed to be removed. @quintinali Can you clean up those useless code of WebUI?

[2016-10-12 03:30] lewismc commented on #63
This is not available simply because it is not included within the search function of search.js. Please see #74 for similar conversation on this topic. We need to discuss at tomorrows meetup @Yongyao @quintinali .

[2016-10-14 00:38] quintinali commented on #62
@lewismc  I have upgraded Elasticsearch from 2.x to 5.x and import logs in parallel using Elasticsearch-Hadoop library.  I set up a cluster and want to test the whole process in the cluster, but I don't know which package in the target directory can be used with the spark-submit command.

I tried to execute the following command in the mudrod-core target directory

`/home/centos/mudrod/spark-1.4.0

[2016-10-14 00:48] quintinali commented on #73
This html is out of date. I will clean the  useless code.  @lewismc , I want to know for this kind of modification, do I have to create a new branch and pull a request to merge modification to the master, or I can just do these modifications in the master branch?  Look forward to  your suggestions, thanks!

[2016-10-16 20:25] lewismc commented on #62
Hi @quintinali

Yes correct. This is trivial work and is described at https://databricks.gitbooks.io/databricks-spark-knowledge-base/content/troubleshooting/missing_dependencies_in_jar_files.html
We should use the Maven shade plugin to create an 'uber' jar which can be submitted to the Spark cluster.

[2016-10-16 20:28] lewismc commented on #73
If you could please make the changes based off of the MUDROD-66 branch that would be great.

[2016-10-26 01:18] lewismc commented on #62
@quintinali can you please create a pull request for your work on the following branch https://github.com/mudrod/mudrod/tree/cc_es_hadoop
Everything needs to go through pull requests.

[2016-10-26 01:24] lewismc commented on #62
@quintinali please see my mail on the Mudrod mailing list for guidance on creating pull requests.

[2016-10-26 18:38] quintinali commented on #62
Main modifications in this branch:
1. Update Elasticsearch from 2.3 to 5.0-beta1
2. Add Elasticsearch-spark library
3. Parallelize log import, crawler detection, session reconstruction. The original sequential functions are    kept for comparison.
4. Elasticsearch API changes due to upgrading of elasticsearch

[2016-12-22 21:33] Yongyao opened #78 "RESTful service is not completed yet"
@lewismc

When you get a chance, could you please finish the Restful service you started a while ago? I have made some changes to the Ranking module. I need to make sure the master branch is running okay before merging it with my local branch. Same thing with @quintinali

Right now, when I start the MUDROD-SERVICE in master and do a search. The result is like below
<img width="834" alt="screen sho

[2017-01-10 16:41] lewismc opened #79 "Hook GCMD into Ontology API"
GCMD is the master Earth Sciences vocabulary maintained by NASA.
The Webservices API interoperation can be found at http://gcmd.nasa.gov/Connect/index.html

[2017-01-18 19:47] lewismc opened #80 "Expand ingestion input formats to cover OPeNDAP, LAS and THREDDS"
On a monthly basis, Chris pushes logs to the following location

[ftp://podaac.jpl.nasa.gov/misc/outgoing/cjf/mudrod/](ftp://podaac.jpl.nasa.gov/misc/outgoing/cjf/mudrod/)

You will see that there are OPeNDAP, LAS and THREDDS as well. We should extend our input formats at https://github.com/mudrod/mudrod/blob/master/core/src/main/java/esiptestbed/mudrod/weblog/pre/ImportLogFile.java to cover the a

[2017-01-18 20:47] lewismc commented on #71
Work is ongoing where?

[2017-01-18 20:48] fgreg opened #81 "Deploy mudrod at JPL"
Deploy an instance of mudrod running on JPL cloud hardware.

[2017-01-18 21:01] fgreg commented on #41
Will add user guide to wiki and make any updates to documentation as I go through a fresh installation of the service.

[2017-01-18 22:35] lewismc commented on #79
We can merely pull the GCMD ontologies from the ESIp Semantic Webportal. This issue is superseded by https://github.com/mudrod/mudrod/issues/65

[2017-01-18 22:35] #79 closed, assigned to lewismc

[2017-01-18 22:54] lewismc commented on #78
@Yongyao do you have a stack trace please?

[2017-01-23 17:42] #41 closed, assigned to lewismc, fgreg, Yongyao, quintinali

[2017-01-23 17:46] fgreg commented on #53
@quintinali do you have an alternate version of the DOCKERFILE that is different from current master? I'm working on getting it going but don't want to duplicate effort you may have already put in.

[2017-01-23 17:53] quintinali commented on #53
@fgreg I don't have dockerfile. For the docker image( quintina/mudrod:temp0907), I built it manually thus I don't have a docker file for the image.

[2017-02-01 19:17] lewismc commented on #80
@Yongyao can you please attempt to ingest logs from December locally? These can be obtained from the FTP site above. Please write here with any issues.
CC @fgreg here for context, this relates directly to operationalizing the Mudrod system.

[2017-02-01 20:18] lewismc opened #82 "Changes all packages to gov.nasa.jpl.mudrod"
ESIP has nothing to do with the project. Prior to our 1.0-release we should change the package naming and also the Maven POM definitions to the above structure.

[2017-02-01 20:58] #71 closed, assigned to Yongyao

[2017-02-01 21:30] lewismc commented on #17
@Yongyao if this issue is no longer relevant can you please close it off? Thanks

[2017-02-01 21:41] lewismc opened #84 "Implement SolrDriver/GoraDriver for PO.DAAC Integration"
As requested by the project team, we should look into extending Mudrod storage functionality such that we can use Apache Solr as an indexing server. Justification is simple, this is what is in use at PO.DAAC.
We should review both [Solrj](http://lucene.apache.org/solr/6_4_0/solr-solrj/index.html) and [Apache Gora](http://gora.apache.org) as options before hardcoding anything.

[2017-02-01 21:58] #17 closed, assigned to lewismc, Yongyao

[2017-02-01 22:10] Yongyao opened #85 "Testing data issues"
@lewismc @fgreg

There was something wrong with the data you were using. Just downloaded the data that we put in the docker before, it works fine now. You can access it here https://drive.google.com/open?id=0B5cX6Zn-YwkxZUNjSkRIZDROVFk

A few notes here,
1) "Testing_Data_1_3dayLog+Meta+Onto" is **only** made for testing log ingesting function, so please only use it with "-l" command. When it is fi

[2017-02-01 22:35] fgreg commented on #53
I made quite a bit of progress on this issue in https://github.com/fgreg/mudrod/tree/MUDROD-53

However, it is still not totally functioning. Other issues are taking priority over this one for now.

[2017-02-01 22:37] lewismc commented on #85
Thank you @Yongyao

[2017-02-01 23:25] lewismc commented on #85
The new datasets are working excellently. Thank you @Yongyao

[2017-02-01 23:30] lewismc commented on #62
Issue resolved in #77

[2017-02-01 23:30] #62 closed, assigned to lewismc, Yongyao, quintinali

[2017-02-01 23:31] lewismc commented on #49
@quintinali are you able to provide some statistics regarding log ingest? Some basic graphs ans metrics perhaps running against the data provided at #85 ?

[2017-02-01 23:43] quintinali commented on #49
I did a test using 2014 PO.DAAC January logs and the processing time of each step before modification is as following:
import log: 3140 s
crawler detection: 130 s
session identification: 603 s

After modification, if I set up a cluster with five virtual machines(16GB RAM, 8 GPU cores), the processing time is significantly decreased.
import log: 152 s
crawler detection: 41 s
session identification:

[2017-02-02 00:01] lewismc commented on #49
Can you please create a wiki page and document all of this? Thank you very much. Once you've created the wiki page and populated it, please close off this issue.

[2017-02-02 00:04] lewismc opened #86 "Fix Javadoc for JDK1.8 Compliance"
We need to fix the Javadoc compliance as it is currently making the build fail. The issues are below
[code]

[2017-02-02 00:16] quintinali commented on #49
Ok, I will do that

[2017-02-02 00:30] lewismc commented on #85
OK, it turns out that this is not quite as expected using current master branch. I am investigating.

[2017-02-02 02:11] lewismc commented on #85
This issue is resolved.

[2017-02-02 02:12] lewismc commented on #58
This issue is no longer valid, with the upgrade to Spark and Elasticsearch we get the progress bars for free.

[2017-02-02 02:12] #58 closed, assigned to lewismc

[2017-02-02 02:19] lewismc commented on #78
Partially fixed in #83

[2017-02-02 02:35] lewismc commented on #36
@Yongyao is this an issue anymore?

[2017-02-02 02:46] Yongyao commented on #36
Yes, it's still a issue when we put the ranking model folder inside the Resource folder. But if we are good with storing the ranking model folder on a fixed local path, we are fine

[2017-02-02 03:23] lewismc commented on #50
@Yongyao we need to make this a priority. Right now it takes forever.

[2017-02-02 03:25] lewismc commented on #36
Can you please point me to an example 'ranking model folder'?

[2017-02-02 03:32] Yongyao commented on #36
https://github.com/mudrod/mudrod/tree/master/core/src/main/resources/javaSVMWithSGDModel

Here it is.

[2017-02-02 03:52] lewismc commented on #36
This is read in the following property
https://github.com/mudrod/mudrod/blob/master/core/src/main/resources/config.xml#L70
It is used at runtime at the following code
https://github.com/mudrod/mudrod/blob/682320adfa549d81b62c26482f8e8ee490d93441/core/src/main/java/esiptestbed/mudrod/ssearch/ranking/Learner.java#L43
I think that this issue can be closed off. As long as the location of the resource

[2017-02-02 03:52] #36 closed, assigned to Yongyao

[2017-02-02 03:53] lewismc commented on #86
@Yongyao or @quintinali can you work on addressing this issue please? It is a bit boring, but once it is addressed we will have a stable build environment once again. Thank you very much in advance.

[2017-02-02 03:56] lewismc commented on #67
@Yongyao did you ever fix this?

[2017-02-02 03:58] #67 closed, assigned to lewismc, Yongyao

[2017-02-03 00:42] fgreg commented on #81
Work is being done here https://github.com/fgreg/mudrod/tree/mudrod-81

[2017-02-03 00:59] fgreg commented on #84
Just doing a little preliminary research, this is going to be very difficult. Doing a search for "import org.elasticsearch" yields 27 different files where we are dependent directly on the Elastic Search libraries. This means at a minimum we will need to alter these 27 files. I haven't done any further analysis as to how hard it will be to extract ES from these files.

- Occurrences of 'import org

[2017-02-03 01:18] fgreg commented on #81
@lewismc Check out [my latest commit](https://github.com/fgreg/mudrod/commit/16215970c7046713aa007cec4f49254afd1f7e22) to my branch linked above. I created a new 'web' module which holds only the static resources. Essentially this turns 'service' into a REST-only web service with all of the html/js in 'web'. This will make it easier to add the JPL branding that is required on the UI.

[2017-02-03 04:45] lewismc opened #87 "Difference between indexName and logIndexName"
Hi @quintinali can you please explain the difference between the ```indexName``` and ```logIndexName``` properties in [config.xml](https://github.com/mudrod/mudrod/blob/master/core/src/main/resources/config.xml#L25-L26)?
[code]
The reason I ask is because, as you probably know, two indexes are created when running the Mudrod pipeline... however the ```mudrod``` index is not utilized. Thanks

[2017-02-03 05:03] lewismc commented on #81
@fgreg yes much better. Much cleaner. Once your finished, please send a PR and we can merge into master. Nice work.

[2017-02-03 05:09] lewismc commented on #84
No joke, it is a non trivial codebase amendment. We have two options,

 * essentially rip all ES stuff out and do a direct replacement with Solrj, or
 * make an attempt to abstract the functionality out into a core Driver interface, which would live in [esiptestbed.mudrod.driver](https://github.com/mudrod/mudrod/tree/master/core/src/main/java/esiptestbed/mudrod/driver).

The other issue we need to

[2017-02-03 22:51] lewismc commented on #86
I am working on this to stabalize build.

[2017-02-04 00:17] lewismc commented on #86
Build back to stable and Javadoc compliant with JDK 1.8

[2017-02-04 00:17] #86 closed, assigned to lewismc

[2017-02-06 18:10] fgreg commented on #78
Here's a stacktrace I get when I try to run http://localhost:8080/mudrod-service/services/metadata/search?query=temperature&operator=phrase. One caveat to this example though: I have not run any log ingestion on my local install yet so this failure could be because there is no data/indexes are missing?

    2017-02-06 10:03:53,345 WARN  phase.PhaseInterceptorChain (LogUtils.java:doLog(449)) - Appl

[2017-02-06 20:10] fgreg commented on #85
@Yongyao I am having problems with Testing_Data_2_ProcessedLog+Meta+Onto. My index is empty and I am running it with the command `/core/target/appassembler/bin/mudrod-engine -p -logDir /Users/greguska/Downloads/mudrod_test_data/Testing_Data_2_ProcessedLog+Meta+Onto/`

It start running but fails with the following stacktrace:

    2017-02-06 12:07:13,250 INFO  process.AbstractBasedSimilarity (Abstr

[2017-02-07 00:19] fgreg commented on #78
I think my exception above was due to no data. I was able to get a partial log ingestion and now the query returns results without exceptions.

[2017-02-08 20:03] lewismc opened #89 "Implement help message if no logs are inferred from input directory"
If a user forgets/incorrectly enter the [httpPrefix and ftpPrefix](https://github.com/mudrod/mudrod/blob/master/core/src/main/resources/config.xml#L16-L17) configuration properties in config.xml and the input log files are not read correctly we should print a message stating that nothing has been found. Otherwise it is not immediately obvious why a pipeline may have failed.

[2017-02-08 20:04] lewismc commented on #87
@quintinali ping? Any ideas about this?

[2017-02-08 20:46] quintinali commented on #87
@lewismc before we stored all the logs in different types in one index named "mudrod", however, with the increase of logs, the size of "mudrod" index grows as well which lead to search/index performance loss. So I modified codes to store monthly logs into different indexes. "logIndexName" is the prefix of log index.

In a nutshell:

Information such as metadata, ontology are stored in index named

[2017-02-08 20:53] quintinali commented on #85
@fgreg one csv file was missing in the Testing_Data_2_ProcessedLog+Meta+Onto directory. I will upload it, please redownload the directory and try it again.

[2017-02-08 21:00] quintinali commented on #85
@fgreg please use files in the attached directory.
[Testing_Data_2_ProcessedLog+Meta+Onto.zip](https://github.com/mudrod/mudrod/files/761925/Testing_Data_2_ProcessedLog.Meta.Onto.zip)

[2017-02-09 18:32] lewismc commented on #78
ack @fgreg can you please verify if any of the other services are working? You can see the REST documentation on master branch by executing ```mvn miredot``` I believe.

[2017-02-09 18:38] lewismc commented on #87
Thank you for clarifying : )

[2017-02-09 18:38] #87 closed, assigned to quintinali

[2017-02-09 20:30] lewismc commented on #49
@quintinali any chance to have a look at this?

[2017-02-09 22:12] quintinali opened #91 "Fail to run mudrod in windows system"
@lewismc I tried to run mudrod(https://github.com/mudrod/mudrod/tree/temp0907) in windows system with command: java -jar  mudrod-core-uber-0.0.1-SNAPSHOT.jar but failed, the prompted error is:

com.typesafe.config.ConfigException$Missing: No configuration setting found for key 'akka.version'

Some people suggest using maven shade plugin to solve such problem, however, we already use this plugin in

[2017-02-09 22:54] lewismc commented on #91
I'll look into it now @quintinali

[2017-02-09 22:56] lewismc commented on #91
@quintinali can you please post the entire stack trace you see?

[2017-02-09 22:58] lewismc commented on #91
Are you getting this issue with master branch?

[2017-02-09 23:01] quintinali commented on #91
I use this branch: https://github.com/mudrod/mudrod/tree/temp0907  I will post the stack trace after I reinstall the jar package

[2017-02-09 23:03] quintinali commented on #91
[code]

[2017-02-09 23:59] lewismc commented on #91
This issue is linked to #92

[2017-02-10 00:03] quintinali commented on #91
Thanks. Ｉwill try it now

[2017-02-10 00:10] quintinali commented on #91
@lewismc  The latest branch works well on the windows system. Thanks very much!

[2017-02-10 06:00] #91 closed, assigned to lewismc, quintinali

[2017-02-10 06:01] lewismc commented on #78
Closing this issue off for the time being. If there are individual bugs or improvements which we need to make then we can do so under separate tickets.

[2017-02-23 16:53] lewismc commented on #73
@quintinali can you check if this issue is fixed in master branch or not? Thank you

[2017-02-23 16:55] Yongyao commented on #73
@lewismc This html should be removed, as it is not used by the current prototype anymore.

[2017-02-23 16:56] lewismc commented on #63
@quintinali can you also check that this is working in master branch? Thank you

[2017-02-23 17:12] lewismc commented on #85
@fgreg PING can you try again please and confirm? If you are satisfied then please close this issue off. Thanks.

[2017-02-23 17:21] lewismc commented on #49
@quintinali PING

[2017-02-23 17:33] lewismc commented on #73
commit 97d6a70a7facfe1c15b9807d4cb8ad73c6cb1eee
Author: Lewis John McGibbney <lewis.mcgibbney@gmail.com>
Date:   Thu Feb 23 09:32:43 2017 -0800

    ISSUE-73 vocab.html does not render correctly

[2017-02-23 17:33] #73 closed, assigned to quintinali

[2017-02-23 18:03] fgreg commented on #81
Still working on this.

[2017-02-23 18:04] fgreg commented on #85
I'll test out the update today or tomorrow and confirm.

[2017-03-01 20:02] lewismc opened #96 "Adapt ontology pipeline to read from PO.DAAC WebServices API"
PO.DAAC provides [WebServices](https://podaac.jpl.nasa.gov/ws) which we should use to augment the Ontologies we are creating ad hosting within the ESIP Semantic Portal.
Justification for this is that the WebServices provide us with much more information than the dataset landing pages pages. This is because the XML WebService response complies with the full GCMD-DIF XSD data model.

[2017-03-01 20:30] Yongyao commented on #96
The metadata I sent you were exactly harvested from PO.DAAC Webservices, and we already have the harvesting code in MUDROD. https://github.com/mudrod/mudrod/blob/master/core/src/main/java/esiptestbed/mudrod/metadata/pre/ApiHarvester.java#L132

[2017-03-01 20:31] lewismc commented on #96
Thanks @Yongyao

[2017-03-01 20:32] lewismc commented on #33
@Yongyao please see https://github.com/ncbo/ncbo_rest_sample_code/tree/master/java for an example of how to use the ESIP Semantic Portal REST API.

[2017-03-02 02:54] Yongyao commented on #78
@lewismc @fgreg I just tested the master branch with the data we provided to you a few weeks ago. The mudrod-core works fine, but there is still a problem with the mudrod-service.

I am able to start the service and see the landing page, but once I type in some keywords, it takes forever to return the search results. I can see the results printed out in my eclipse console,

`2017-03-01 21:51:14,60

[2017-03-02 02:58] Yongyao commented on #85
I tested the core with this data. It works well. Just a note, please use the data provided by @quintinali , and forget the data I put at the beginning of this thread.

Also, as the goal of this stage is to get it running on PO.DAAC, we can just stick with this processed data. The real-time ingesting/streaming has been put in the follow-on proposal.

[2017-03-02 03:01] lewismc commented on #78
@Yongyao this is disappointing, would have been nice to have known about this a while back when I posted the message to our mailing list... never mind, we can sort it out now!
Can you try end-to-end to end ingestion with the data that Chris Finch made available. We are working on data from PO.DAAC now not the test data in Google Drive. If you cannot locate the data that Chris made available, then

[2017-03-02 03:03] lewismc commented on #85
@Yongyao please don't use the data provided by @quintinali , use the most recent data provided by Chris Finch. He sent an email to the mudrod-all mailing list on December 7th, 2016. I've been working with this data. It can be found at ftp://podaac.jpl.nasa.gov/misc/outgoing/cjf/mudrod/

[2017-03-02 03:08] lewismc commented on #78
@Yongyao please open a new ticket and tailor the issue to the error you are experiencing.
Bug reports are important, that's why I asked everyone to confirm... if no-one tries this out, and no-one files bug reports, then we don't know stuff is not functional. Thanks for re-opening the issue. Please close it and open a new issue with a detailed description of the bug you've found. Also please descri

[2017-03-02 03:11] #78 closed, assigned to lewismc

[2017-03-02 03:21] Yongyao opened #98 "Failed to see the search results in the web UI"
@lewismc , sorry for not doing this earlier. Below is the bug report,

Environment:
Mac, eclipse, tomcat 8, chrome

Steps to reproduce:
1. Run the mudrod-core with "-p"
2. Start the mudrod-service in eclipse with tomcat
3. After you see the landing page, type in "ocean wind"

Expected result:
A list of search results

Actual result:
nothing (always loading...)

I can see the search results printed

[2017-03-02 03:23] Yongyao commented on #33
@lewismc , I was looking for REST API document at their website, http://semanticportal.esipfed.org/

By any chance, do you know where it is, or does it even exist?

[2017-03-02 20:56] #81 closed, assigned to fgreg

[2017-03-02 20:56] fgreg commented on #81
This is done. Just need to ingest some data now.

[2017-03-02 21:01] fgreg commented on #85
Works.

[2017-03-02 21:01] #85 closed, assigned to lewismc

[2017-03-02 22:28] fgreg commented on #98
@Yongyao this should be fixed with https://github.com/mudrod/mudrod/pull/99

Please check.

[2017-03-02 22:28] #98 closed, assigned to lewismc

[2017-03-02 22:30] fgreg opened #100 "Console error"
Happens after running a search:

Uncaught SyntaxError: Unexpected token o in JSON at position 1
    at JSON.parse (<anonymous>)
    at Object.completeHandler [as success] (search.js:96)
    at j (VM41 jquery-2.1.1.js:2)
    at Object.fireWith [as resolveWith] (VM41 jquery-2.1.1.js:2)
    at x (VM41 jquery-2.1.1.js:4)
    at XMLHttpRequest.<anonymous> (VM41 jquery-2.1.1.js:4)

[2017-03-02 22:33] fgreg opened #101 "Dataset links don't work"
When the search results show up it is not possible to click on a link.

The links are invalid in dataset.js

Failed to load resource: the server responded with a status of 404 (Not Found)
https://mudrod.jpl.nasa.gov/mudrod-web/**SearchVocab**?concept=ocean+wind&operator=Phrase

Failed to load resource: the server responded with a status of 404 (Not Found)
https://mudrod.jpl.nasa.gov/mudrod-web/**D

[2017-03-02 23:31] fgreg opened #102 "SearchDatasetDetailResource Missing GET method"
The `SearchDatasetDetailResource` does not have a GET method but the UI tries to call GET from `dataset.js`

@lewismc Can you take a look?

[2017-03-03 00:19] fgreg commented on #101
I fixed the links in the UI javascript but there is still more to do.

@Yongyao @lewismc This page is trying to call GET on HybridRecomDatasetsResource, RecomDatasetsResource, and SearchDatasetDetailResource but none of those methods exist. What is this page supposed to be doing?

[2017-03-03 00:19] #100 closed, assigned to fgreg

[2017-03-03 00:24] fgreg commented on #101
Not fixed yet.

[2017-03-03 03:42] Yongyao commented on #101
@quintinali Could you please take a look at this? I am sure the code were there (written by you).

[2017-03-03 04:51] quintinali commented on #101
@Yongyao @fgreg Did you encounter this problem? The search function doesn't work on my computer since it can't find AutoCompleteResource class.
![image](https://cloud.githubusercontent.com/assets/8673393/23538647/bbddd470-ff89-11e6-945a-334354c7e4e0.png)

[2017-03-03 04:55] Yongyao commented on #101
No, make sure you use the latest master branch

[2017-03-03 06:08] lewismc commented on #101
Absolutely everyone needs to be working off of master branch from now on. I think this is where some of our problems stem from folks. We all need to be using master branch as this is where mainline development is going on, this is meant to be stable and this is what @fgreg is trying to deploy at JPL.

We need to be working off of master branch, if we are not working off of master then we are simpl

[2017-03-03 07:00] lewismc commented on #33
Did you find it @Yongyao ? If so please port it here.

[2017-03-03 15:15] Yongyao commented on #33
@lewismc yes, I find it and I have wrote a simple class to do this, https://github.com/mudrod/mudrod/blob/460edf17fa2f40f338d7eb79a541c5c0f1636f68/core/src/main/java/esiptestbed/mudrod/ontology/eskg/OntoUploader.java

 but I am having a problem with using the API. I think http://data.bioontology.org/documentation#OntologySubmission is what I need, but I am not sure what parameters to pass. I've tr

[2017-03-03 21:49] quintinali commented on #101
@fgreg I fixed the bug. Please update master code and try it. Please let me know if any problem, thanks.

[2017-03-03 21:55] Yongyao commented on #101
It works for me now. I can see the MUDROD dataset landing page (not the PO.DAAC one).

[2017-03-03 21:58] quintinali commented on #64
@lewismc  I will change UI colors. For metadata content, 16 attributes are listed now.

![image](https://cloud.githubusercontent.com/assets/8673393/23570530/65faedb4-0019-11e7-8b01-56c548cffa1e.png)

[2017-03-03 22:09] quintinali commented on #102
@fgreg @lewismc  I fixed this problem. Pleased close this issue after reviewing. Thanks

[2017-03-03 22:36] lewismc commented on #102
@quintinali what did you do to fix the issue? Can you reference it here please? Thank you.

[2017-03-03 22:36] lewismc commented on #102
@quintinali what are we meant to be reviewing?

[2017-03-03 22:36] lewismc commented on #102
I see no pull request.

[2017-03-03 22:38] lewismc commented on #64
Thank you @quintinali can you please send this to Thomas Huang and ask if he is satisfied with it?

[2017-03-03 22:39] lewismc commented on #101
Please send pull requests for everything that way we can see what has changed. Thanks folks.

[2017-03-03 22:40] quintinali commented on #49
https://github.com/mudrod/mudrod/wiki/Benchmark-log-ingest

[2017-03-03 22:46] quintinali commented on #102
@lewismc Oh, my mistake. I encountered some problems to solve the issue in my repository so I directly modified code in the mudrod master and used the "sync" button to submit the code. I fixed this issue when I solved the issue https://github.com/mudrod/mudrod/issues/101. Please check this commit https://github.com/mudrod/mudrod/commit/85c9a0c8120e4e00f5886438f080cb866ab833cc

[2017-03-03 23:10] quintinali commented on #64
@lewismc I found that Thomas Huang needs us to add more information in the search list. What I just posted is the dataset detail page. I will add more details in the search list as PO.DAAC does and then send to him.

[2017-03-03 23:11] lewismc commented on #102
OK thank you

[2017-03-03 23:12] lewismc commented on #64
Thank you

[2017-03-03 23:34] lewismc commented on #49
Hi @quintinali some suggested improvements
 * Can you link the following jobs to their respective locations within Github "log ingest, user identification, crawler detection and session identification"
 * Can you link the following to the actual log file "201401 PODAAC logs"
 * Can you link to the log partitioning code in Github "We also developed a log partition algorithm to further improve perfo

[2017-03-04 00:05] quintinali commented on #49
@lewismc Thanks for your suggestions. I will add these links.

[2017-03-06 16:50] #101 closed, assigned to fgreg

[2017-03-06 16:50] #102 closed, assigned to lewismc

[2017-03-08 20:01] fgreg commented on #82
@Yongyao @lewismc @quintinali Just a heads up... once this gets merged I'd strongly recommend doing a 'clean install' from parent before trying to run the app locally again.

[2017-03-08 21:37] lewismc commented on #82
No joke.. I think we should try to implement this just prior to next weeks meeting... we could potentially release Mudrod 0.1 around then as well.

[2017-03-13 19:23] quintinali commented on #64
please review this pull request, thanks. https://github.com/mudrod/mudrod/pull/108

[2017-03-14 20:57] lewismc opened #110 "Refactor mudrod-core into separate Maven modules"
Right now we have too much functionality bundled into mudrod-core.
We should re-organize the core module, splitting out the following packages
[code]
We can do this towards the end of our project...

[2017-03-15 02:04] #82 closed, assigned to fgreg

[2017-03-15 02:11] Yongyao commented on #33
@lewismc ，where are we with this? I subscribed to the esip semantic mailing list, but haven't seen any update on this yet

[2017-03-15 03:03] lewismc commented on #33
Sorry @Yongyao it's over on this thread
http://lists.deltaforce.net/pipermail/esip-semanticweb/2017/000810.html read it in it's entirety. John Graybeal has given us the correct links.

[2017-03-15 03:53] Yongyao commented on #33
@lewismc , this is the same link the we tried last week. https://github.com/ncbo/ncbo_rest_sample_code
It didn't work at that time.

[2017-03-15 06:08] lewismc commented on #33
Did you read John Graybeal's response? It looks like in order to use the REST API we need to explicitly use our tokenID/userID. This can be found by navigating to your User profile in the ontology server and going into settings. We can talk about this tomorrow. I will have updates on the ontology generation tomorrow anyway so we are all good.

[2017-03-15 18:35] lewismc commented on #63
AFAICT this is now addressed @quintinali @Yongyao

[2017-03-15 18:35] #63 closed, assigned to quintinali

[2017-03-16 21:30] lewismc commented on #66
If the 'widgets' tab of the ESIP Semantic Portal does not work (which it currently does not), then code for achieving autocompletion can be found at https://www.bioontology.org/wiki/index.php/NCBO_Widgets#Term-selection_field_on_a_form

[2017-03-16 21:38] lewismc commented on #66
Also you can see an example of a widget working here
http://bioportal.bioontology.org/ontologies/PATO/?p=widgets

[2017-03-17 03:38] lewismc commented on #64
@quintinali please open a new issue for the additional elements which have to be added to each dataset results page. Thanks

[2017-03-17 03:38] #64 closed, assigned to quintinali

[2017-03-17 03:39] lewismc commented on #33
@Yongyao please see the following response
[code]
This gets me a nice JSON reponse
[code]

[2017-03-17 03:39] lewismc commented on #33
If you could write this into the code that we are moving over to ESKG then we will be done with this very quickly. Thanks and sorry for the delay.

[2017-03-17 03:46] Yongyao commented on #33
ok, so I guess it was the port 8080 issue

[2017-03-17 03:51] lewismc commented on #33
ack... sigh :(

[2017-03-27 18:12] lewismc opened #117 "WebUI Re-architecture"
This issue is a placeholder for the entire re-architecture of the MUDROD web module [0].

 * Current frontend codebase implemented in pure HTML/CSS/JS with no templating or framework design.
 * Current UI codebase can be found at https://github.com/mudrod/mudrod/tree/master/web, the code currently exists as a Maven module and is packaged as a Web Archive (WAR) which can be deployed in any J2EE Ser

[2017-03-27 20:41] Yongyao commented on #33
@lewismc , I have added some code here: https://github.com/Yongyao/mudrod/blob/599d6aa9ae909727304bb1a8c41de41ee598ba5f/core/src/main/java/gov/nasa/jpl/mudrod/ontology/upload/OntoUploader.java#L149

The GET method is working, as you can see in the main function. However, the postFile() method does not. I cannot even get it to work in my browser. Could you please ask the developer to figure out the

[2017-03-29 16:34] fgreg opened #118 "Update installation docs"
Need to update the installation docs to reflect the new application architecture (web module has been seperated).

[2017-03-29 16:51] lewismc commented on #33
@Yongyao can you submit a pull request for this over on ESKG? It is meant to be part of that toolkit. We then consume it within MUDROD. Thanks.

[2017-03-29 16:51] lewismc commented on #33
If you submit the pull request then i will work on it. Thanks @Yongyao

[2017-03-29 17:19] #118 closed, assigned to fgreg

[2017-03-29 17:27] fgreg opened #119 "Change how javaSVMWithSGDModel is loaded"
Should not have to modify config.xml to include an absolute file path to the `javaSVMWithSGDModel` directory.

At the very lest this directory should be able to be loaded as a classpath resource.

[2017-03-29 17:32] Yongyao commented on #119
@fgreg , both Lewis and I spent some time on this a while ago. There would be an error if we put it in the resource folder. Looks like some content of the folder will change after the code is built. (the folder is a model generated by Spark MLlib)

Yeah, it definitely should be loaded as classpath resource. It would be great if you can figure this out.

[2017-03-29 17:43] quintinali opened #120 "Add more attributes on metadata detail page"
Attributes:
Version
start_date
end_date
Spatial resolution
northern_lat
southern_lat
western_lon
eastern_lon

[2017-03-29 17:52] fgreg commented on #119
@Yongyao My plan is to do it like this:

1. During build, zip the directory and include it as a resource to the JAR
2. Modify `gov.nasa.jpl.mudrod.ssearch.ranking.Learner#Learner` to load the zip file as a classpath resource, extract it to a temporary directory
3. Provide the absolute path to the temporary directory to the spark context and SVM

[2017-03-29 19:00] edshred2000 opened #122 "MUDROD testing results"
Results to report testing the JPL MUDROD web site

1. 'And' is perhaps the best default for free text keyword searches.  'Phrase' is too restrictive for longer keyword queries (e.g, 'coastal ocean wind')
2. Keyword 'Altimetry' returns nothing.  'Altimeter' does. Ontology can help here ?
3. No link to dataset landing page in search results. Nowhere to navigate to a data access page.

[2017-03-29 19:13] Yongyao commented on #122
@edshred2000 OK, we will fix this. If you or David find anything else, please also post it here.

[2017-03-29 21:31] Yongyao commented on #122
@lewismc @fgreg Any comments on "Keyword 'Altimetry' returns nothing. 'Altimeter' does. Ontology can help here ?" I think it has to do with the stemming function. Maybe we need a domain-specific one here.

[2017-03-30 17:05] #119 closed, assigned to fgreg

[2017-03-30 23:35] fgreg opened #126 "Can't create new threads during log ingestion"
While trying to run a full log ingestion locally, I received the following error:

[code]

[2017-03-30 23:43] fgreg commented on #126
The cause of the problem is in this code:

https://github.com/mudrod/mudrod/blob/2c44ea427052e14fbab53891580da6296e3d00b4/core/src/main/java/gov/nasa/jpl/mudrod/weblog/pre/CrawlerDetection.java#L166-L175
[code]

As we can see a new `ESDriver` is created which in turn creates a new `TransportClient` which essentially opens new connections to Elastic Search.

The problem is that `ESDriver` (and in t

[2017-03-30 23:49] fgreg commented on #126
After further analysis there are 6 methods in total which suffer from this same bug:

- gov.nasa.jpl.mudrod.weblog.pre
  - CrawlerDetection.java
    - checkByRateInParallel()
  - SessionGenerator.java
    - combineShortSessionsInParallel(int)
    - genSessionByRefererInParallel(int)
  - SessionStatistic.java
    - processSessionInParallel()
- gov.nasa.jpl.mudrod.weblog.structure
  - SessionExtract

[2017-03-31 00:22] fgreg commented on #126
I've fixed the code; just running a test to make sure this actually resolves the problem.

[2017-04-11 19:32] fgreg opened #127 "Build is not updating web module"
There is a bug with the current build/deploy pipeline where it is not pulling the latest changes in the 'web' module. Investigating.

[2017-04-11 20:14] fgreg commented on #127
Forgot to update the group from `esiptestbed` to `gov.nasa.jpl.mudrod` in the web-jpl module so the build was still using an outdated version of the UI. Updated the pom and re-deployed.

[2017-04-11 20:14] #127 closed, assigned to fgreg

[2017-04-11 20:15] fgreg opened #128 "Field [Dataset-Metadata] is not a completion suggest field"
Getting error `Field [Dataset-Metadata] is not a completion suggest field` on mudrod.jpl.nasa.gov site.

[code]

[2017-04-11 20:56] Yongyao commented on #128
@fgreg Are you using the latest master branch? If so, you need to remove everything in ES and re-index all the data before calling the auto-completion function.

Let me know if you still have a problem.

[2017-04-11 20:59] fgreg opened #129 "NullPointerException when no results for autocompletion"
An exception is thrown when no results are returned from an autocompletion attempt.

[code]

[2017-04-11 21:00] Yongyao commented on #122
Comments 1 & 3 have been addressed in https://github.com/mudrod/mudrod/pull/123

[2017-04-11 21:01] Yongyao commented on #122
David's comments are below.

1. Dataset indexing needs to be updated to include more up-to-date datasets; perhaps, this could be an automated cron job that runs once per week.
2. For similar datasets with multiple versions, highest version number should be placed at higher ranking than older versions, regardless of differences in the existing user popularity.
3. Ensure search terms that are a dire

[2017-04-11 21:02] fgreg commented on #128
@Yongyao Yes latest master branch. We need a better migration strategy than drop and re-index.

[2017-04-11 21:18] fgreg commented on #126
Tests worked, merged to master.

[2017-04-11 21:18] #126 closed, assigned to fgreg

[2017-04-11 21:33] Yongyao opened #131 "Fails to start the web service"
@fgreg I got a problem running the latest service in my local eclipse. Is this due to some recent changes that you made?

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
2017-04-11 17:31:11,177 WARN  hadoop.ParquetRecordReader (Log.java:e

[2017-04-11 21:38] fgreg commented on #131
@Yongyao no I don't think so. It looks like it can't connect to your port 8005 for some reason. Are you sure you don't have another instance running already?

[2017-04-11 21:41] fgreg commented on #129
I think this was actually related to errors in my local index. Closing issue for now.

[2017-04-11 21:41] #129 closed, assigned to nobody

[2017-04-11 21:45] Yongyao commented on #131
@fgreg I don't think 8005 is needed by any of our components. Do you have any idea on this?

BTW, I assume I don't need to change the "svmSgdModel" in the config.xml file anymore. Correct?

[2017-04-11 21:50] fgreg commented on #131
Tomcat uses port 8005 by default for a shutdown port I think. Make sure you don't have tomcat running elsewhere.

Yes, svmSgdModel no longer needs to be changed. It is now being loaded as a resource.

[2017-04-11 22:19] Yongyao commented on #131
Turns out it was my local network problem. close it

[2017-04-11 22:19] #131 closed, assigned to nobody

[2017-04-11 22:39] quintinali opened #132 "Add metadata ingest/process command"
Add a command to help update metadata in the system.
usage:
-logDir "pathtotestdata" -m

[2017-04-11 23:14] lewismc commented on #132
@quintinali can you please augment the description here? What is this meant to address?

[2017-04-11 23:19] quintinali commented on #132
I want to add a command to help frank update metadata in the system. I will
add descriptions

On Tue, Apr 11, 2017 at 7:14 PM Lewis John McGibbney <
notifications@github.com> wrote:

[2017-04-12 17:26] quintinali opened #135 "web service can't be started on windows system"
Apr 12, 2017 8:22:55 AM org.apache.catalina.core.StandardEngine startInternal
INFO: Starting Servlet Engine: Apache Tomcat/8.0.36
Apr 12, 2017 8:23:20 AM org.apache.jasper.servlet.TldScanner scanJars
INFO: At least one JAR was scanned for TLDs yet contained no TLDs. Enable debug logging for this logger for a complete list of JARs that were scanned but no TLDs were found in them. Skipping unneeded

[2017-04-12 18:23] quintinali commented on #132
@fgreg  Please download the latest metadata(latestMetadata.zip) Yongyao harvested from PO.DAAC website, and unzip it to the "RawMetadata" directory.  Then you can update metadata with the command:
-logDir "PathToMudrodDataDir" -m

[2017-04-12 18:28] fgreg commented on #132
@quintinali There is no "RawMetadata" directory. I have the log files that are downloaded from the PO.DAAC FTP site.

[2017-04-12 18:35] quintinali commented on #132
@fgreg  "RawMetadata" directory is a child directory in the mudrod_test_data directory. I though you still used the directory structure we provided. You can create a new directory anywhere in your computer and create a child directory named "RawMetadata", and put all the latest metadata in it.

Command:  -logDir "PathYouCreateToPutRawMetadataDir" -m

![image](https://cloud.githubusercontent.com/as

[2017-04-12 18:42] lewismc commented on #132
We need to use PO.DAAC logs provided by Chris Finch now. Everything else is
deprecated and will not be used any more.
We use HTTPD or FTP common log format... that's it.

On Wed, Apr 12, 2017 at 11:35 AM quintinali <notifications@github.com>
wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director, MCMA Associates
Phone: +1(626)498-3090
Skype: lewis.john.mcgibbney
Email: lewis.mcgibbney@gmai

[2017-04-12 18:47] quintinali commented on #132
@fgreg @lewismc  This command is used for updating metadata rather than PO.DAAC logs.  David said metadata published after October/November 2016 are not visible in the system. So I add this command to help you update latest metadata into MUDROD.

[2017-04-12 19:44] fgreg commented on #132
@quintinali I'm confused, is this a separate process from full log ingestion? I need to re-ingest everything in order to enable auto complete; is there a reason I need to also do this or will re-ingestion fix this as well?

[2017-04-12 19:52] quintinali commented on #132
@fgreg  Did you receive this email sent by Yongyao? "OK, then you don't want to re-ingest the web logs. We don't have a separate command to re-ingest metadata yet, but we can make one really quick. I'll let you know. "

We thought you don't want to re-ingest logs now and need a separate command for updating metadata, That's why I created this issue and add a new command for metadata.

If you have

[2017-04-12 19:55] fgreg commented on #132
@quintinali Yes, I understand now.

Just to be clear, if I re-ingest everything I do not need the latest metadata from @Yongyao ?

I can't update anything right now because of the UWG meeting so my plan is to re-ingest next week sometime.

[2017-04-12 20:03] quintinali commented on #132
@fgreg If you decide to re-ingest everything, please download the latest metadata provided by Yongyao. Metadata are not harvested from PO.DAAC website on real-time, we download them into the file system ( the zip file provided by Yongyao) at first and then ingest metadata to MUDROD.

[2017-04-12 20:07] fgreg commented on #135
@quintinali Sorry about that. Can you try modifying `gov.nasa.jpl.mudrod.main.MudrodEngine#decompressSVMWithSGDModel` and changing line 180 to:

[code]

And see if that allows you to start it?

[2017-04-12 20:09] Yongyao commented on #132
@quintinali @fgreg Maybe we can have a short technical call either later this week or next week to walk this through.

@lewismc I am back to work now. Maybe we can also figure out some of the ontology issues and the ESIP report at that call.

[2017-04-12 20:10] fgreg commented on #132
@Yongyao yes let's do that. I am available anytime this afternoon if you have time 818.354.0133

[2017-04-14 17:52] quintinali commented on #135
@fgreg Thanks. The problem has been solved, however, I still can't start web service on my computer.

2017-04-14 10:48:00,782 ERROR executor.Executor (Logging.scala:logError(91)) - Exception in task 0.0 in stage 0.0 (TID 0)
org.apache.hadoop.fs.ChecksumException: Checksum error: file:/C:/Users/tinay/AppData/Local/Temp/mudrod7097015449025731183/javaSVMWithSGDModel/metadata/part-00000 at 0 exp: 3009

[2017-04-19 02:40] lewismc commented on #135
@quintinali this has to do with the absolute locations set in configuration... make sure that not absolute paths exist. They should all be relative or determined from the classpath.

[2017-04-19 02:41] lewismc commented on #135
Also @quintinali can we please always tag issues with the general tags.

[2017-04-19 02:43] lewismc opened #138 "Create adhoc ingestion wiki page"
@Yongyao @quintinali there seems to be some process that you have for harvesting metadata from the PO.DAAC Webservices API.
If this is true, can you create a wiki page detailing how this works, how the tool(s) are executed, what output is expected and how the output is loaded into MUDROD?
This ingestion task should be automated such that it initiates whenever a new dataset announcement is made.

[2017-04-19 18:56] lewismc opened #139 "Incremental dataset indexing"
Dataset indexing needs to be updated to include more up-to-date datasets; perhaps, this could be an automated cron job that runs once per week. It should align with PO.DAAC announcements.

[2017-04-19 18:57] lewismc opened #140 "Datasets with highest version number should rank higher"
For similar datasets with multiple versions, highest version number should be placed at higher ranking than older versions, regardless of differences in the existing user popularity.

[2017-04-19 18:58] lewismc opened #141 "Exact dataset matches need to rank higher than related"
Ensure search terms that are a direct match to a mission/platform/sensor of a given dataset will result in highest rank compared to a related dataset of a different mission/platform/sensor.

[2017-04-19 18:58] lewismc opened #142 "Abstract field should be first 150 characters with option to expand"
Abstract should include at least the first 150 characters (with option to expand to full description) of the Dataset Description.

[2017-04-19 18:59] lewismc opened #143 "Augment records with additional geospatial metadata"
The following additional geospatial metadata should be displayed in search results; alternatively, these could be incorporated into a “faceted” search mechanism in the side-bar.
Dataset start/stop date
Dataset spatial resolution
Dataset temporal resolution
Data Format

[2017-04-19 19:00] lewismc opened #144 "Implement topic hyperlinks"
For the Topic, the term should be a hyperlink that points to existing Measurement information pages, such as:
[code]

[2017-04-19 19:10] lewismc opened #145 "Add a canonical link back to the PO.DAAC Dataset landing page"
each MUDRDO search result, there should be a persistent link back to the PO.DAAC Dataset landing page. As a short term effort, we can add another field to the MUDROD Dataset page which references the canonical dataset landing page at PO.DAAC.

[2017-04-20 18:05] Yongyao commented on #132
As we discussed yesterday, we only need to keep 3 commands for simplicity.
1. "-l -logDir pathToLogFolder", it ingests and processes all HTTP and FTP logs from the logDir;
2. "-m -metaDir pathToAEmptyFolder", it downloads all metadata to the metaDir using the Webservices, ingests, and processes these metadata;
3. "-p -DataDir pathToProcessedDataFolder", it assumes the DataDir contains all of the p

[2017-04-20 18:08] lewismc commented on #132
@Yongyao what about ```-f``` for full long ingestion?
We need the documentation which clearly states the workflow.

[2017-04-20 19:43] Yongyao commented on #132
Good point. @lewismc PR and wiki coming soon.

[2017-04-20 20:26] Yongyao commented on #145
Close this as it has been done in https://github.com/mudrod/mudrod/pull/146

[2017-04-20 20:26] #145 closed, assigned to Yongyao

[2017-04-20 21:29] fgreg commented on #135
@quintinali Can you try checking out this branch https://github.com/mudrod/mudrod/tree/mudrod-135 and then starting the app? Sorry, I don't have a windows machine I can easily test this on.

[2017-04-20 21:31] quintinali commented on #135
Thanks for your help. I will try it later and let you know whether it works.

On Thu, Apr 20, 2017 at 5:29 PM fgreg <notifications@github.com> wrote:

[2017-04-26 18:38] fgreg opened #148 "Order of search result details"
After clicking on a dataset after search, the elements of the dataset detail should be updated

1. Long Name
2. Dataset Landing Page

Next should be the four terms:

- Category
- Topic
- Term
- Variable

The order of these terms should match the GMCD hierarchy for these terms.

Then the rest of the attributes.

[2017-04-26 18:43] fgreg opened #149 "Add thumbnail image"
Add a thumbnail image to the dataset detail page and possibly search result list as well.

[2017-04-26 18:48] fgreg opened #150 "Dates need to follow ISO 8601 format"
All dates being displayed need to be in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.

There is a bug in TimeSpan on dataset detail page but all dates need to be checked to make sure they meet the standard.

[2017-04-26 18:51] fgreg opened #151 "New Searches from Dataset Detail Page."
Add more hyperlinks in dataset detail page.

The values of these keys should all perform a MUDROD query for that term:

- Project
- Sensor
- Measurement (each word/phrase should be it's own link)

Example:

If Project=GHRSST then GHRSST should be a hyperlink to search MUDROD for "GHRSST"

[2017-04-26 19:01] fgreg commented on #132
https://github.com/mudrod/mudrod/pull/147

[2017-04-26 19:02] fgreg commented on #122
@Yongyao can you break this into individual issues? I think some of these have been address while others have not.

[2017-04-26 19:05] fgreg commented on #144
This conflicts with https://github.com/mudrod/mudrod/issues/151

On the call today it was suggested to make the value of 'Topic' be a hyperlink to a MUDROD search for that term.

Decision is needed as to which approach should be taken.

[2017-04-26 19:07] fgreg commented on #122
@Yongyao @lewismc Actually I think this might have been done already?

https://github.com/mudrod/mudrod/issues/140
https://github.com/mudrod/mudrod/issues/141
https://github.com/mudrod/mudrod/issues/142

If so, I'd say close this issue.

[2017-04-26 19:12] edshred2000 commented on #150
An example format would be

2005-06-01 representing June 1, 2005

[2017-04-26 19:12] Yongyao opened #152 "Keyword 'Altimetry' returns nothing.'Altimeter' does."
@fgreg I think this has something to do with stemming. If this is the only keyword that does not work. We can just hard code this.

@lewismc Do you think your current ontology results can fix this problem, through link query expansion?

[2017-04-26 19:16] Yongyao commented on #138
This is done. https://github.com/mudrod/mudrod/wiki/Command-Line-Interface

[2017-04-26 19:16] #138 closed, assigned to Yongyao, quintinali

[2017-04-26 19:18] Yongyao commented on #122
This is only one issue that remains to be solved. https://github.com/mudrod/mudrod/issues/152

[2017-04-26 19:18] #122 closed, assigned to Yongyao, quintinali

[2017-04-26 19:19] Yongyao commented on #135
@quintinali Is this solved? If so, please close it.

[2017-04-26 19:21] fgreg commented on #151
Conflicts with https://github.com/mudrod/mudrod/issues/144

[2017-04-28 19:57] lewismc commented on #152
@Yongyao yes this is exactly the type of thing that any implementation of the [Ontology Synonyms API](https://github.com/mudrod/mudrod/blob/master/core/src/main/java/gov/nasa/jpl/mudrod/ontology/Ontology.java#L58-L65) would address. This could be accessed internally, or externally through the [OntologyResource](https://github.com/mudrod/mudrod/blob/master/service/src/main/java/gov/nasa/jpl/mudrod/

[2017-05-01 23:28] quintinali commented on #135
@fgreg I encountered the following problem since zip file can't be imported using GzipCompressorInputStream.

2017-05-01 12:27:24,335 ERROR main.MudrodEngine (MudrodEngine.java:loadConfig(169)) - Exception whilst retrieving or processing XML contained within 'config.xml'!
java.io.IOException: Input is not in the .gz format
	at org.apache.commons.compress.compressors.gzip.GzipCompressorInputStream.

[2017-05-01 23:34] fgreg commented on #135
@quintinali Ah yea I forgot to change the decompression to use zip instead of gzip. Can you check your code in to the branch https://github.com/mudrod/mudrod/tree/mudrod-135 and I'll test on mac/linux to make sure it still works.

[2017-05-02 14:43] quintinali commented on #135
@fgreg I submitted my code to branch mudrod-135, please take a look.

[2017-05-02 19:32] Yongyao commented on #143
This has been fixed already. Although the date formate has a bit problem, that's another issue.
<img width="813" alt="screen shot 2017-05-02 at 3 31 03 pm" src="https://cloud.githubusercontent.com/assets/5552606/25635527/73951a00-2f4c-11e7-8b07-78a3590ed07e.png">

[2017-05-02 19:32] #143 closed, assigned to gxtchen

[2017-05-02 20:00] Yongyao commented on #148
Please refer to this PR https://github.com/mudrod/mudrod/pull/154

[2017-05-03 05:34] lewismc commented on #96
Implemented in https://github.com/ESIPFed/eskg/issues/14

[2017-05-03 05:34] #96 closed, assigned to lewismc

[2017-05-03 07:38] lewismc opened #155 "License key not permitted for your current project: gov.nasa.jpl.mudrod:mudrod-service"
After we addressed https://github.com/mudrod/mudrod/issues/82 it turns out that the Miredot build has broken. I'll contact the folks over at Miredot for a new License Key.

[2017-05-03 14:49] lewismc commented on #68
The purpose of this issue is to introduce a **MudrodDriver.java** interface, and for ESDriver.java to begin implementing some of the functions. This is the way it should have been implemented originally. The same should be true for SparkDriver.java. It should merely implement MudrodDriver.java

[2017-05-03 16:36] lewismc opened #156 "Full log ingestion fails at raw log removal phase"
When running a full log ingestion, I get the following
[code]
My Elasticsearch logging looks as follows
[code]
We should make explicit reference that it is necessary to have non-standard JVM Heap allocations.

[2017-05-03 17:22] quintinali commented on #135
@fgreg Could you please submit a pull request if my modification works on your computer? Thanks

[2017-05-03 17:36] quintinali commented on #69
@lewismc OHCodeExtractor.java has been deleted. The one-hot encoder is no longer used in recommendation algorithm.

[2017-05-03 17:56] lewismc commented on #69
If this import is no longer used in MUDROD then please close this issue out.

[2017-05-03 23:22] fgreg opened #160 "Full Log Ingest fails at Session Summarization phase"
Got a NullPointerException during full log ingest.

[code]

[2017-05-03 23:25] fgreg commented on #160
I think this is a Spark issue.

The Spark workers don't have access to the full classpath of the application that launches the Spark job. So when trying to load this classpath resource, it won't find it.

[2017-05-04 17:25] fgreg opened #161 "RequestUrl should not extend MudrodAbstract"
`gov.nasa.jpl.mudrod.weblog.structure.RequestUrl` seems to be a class that is just intended to parse information out of URL Strings.

It makes no sense that this class extends MudrodAbstract and needs a reference to spark and elastic search.

There is one call to elastic search in this class https://github.com/mudrod/mudrod/blob/f63869a74288da8cf696e5dfb0b25ed2b6a5e5b2/core/src/main/java/gov/nasa/

[2017-05-04 17:27] fgreg commented on #161
This is related to issue https://github.com/mudrod/mudrod/issues/160 If this is fixed, https://github.com/mudrod/mudrod/issues/160 should no longer be a problem.

[2017-05-04 21:01] fgreg commented on #161
Fix for this issue has been added to the open pull request https://github.com/mudrod/mudrod/pull/159  as commit https://github.com/mudrod/mudrod/pull/159/commits/8d831cac66a53e800ef4853752c516b7275859f9

[2017-05-04 22:20] #135 closed, assigned to nobody

[2017-05-04 23:55] fgreg opened #162 "Infinite Loop in SessionTree"
I have been running log ingestion on my laptop for 5 hours now and it is making no more progress.

My log so far looks like this:

[code]

As you can see it has been stuck on 0 of 16 spark tasks in the ClickStreamGenerator for 5 hours. This strongly implies that it is in fact not doing anything.

Furthermore, I can get a tread dump from the Spark executors showing exactly what they are currently e

[2017-05-05 00:04] Yongyao commented on #162
@quintinali Can you look at this? I think this is the code you wrote a while ago

[2017-05-05 00:05] Yongyao commented on #160
@fgreg Is this problem solved. I saw you had passed this phase from the logs you just posted. https://github.com/mudrod/mudrod/issues/162

[2017-05-05 00:14] fgreg commented on #160
@Yongyao Yes it's fixed with #161 and included in PR https://github.com/mudrod/mudrod/pull/159 . I wasn't going to close it until the PR is accepted and merged to master.

[2017-05-06 03:06] quintinali commented on #162
@fgreg I will take a look and let you know after I solve the problem.

[2017-05-08 16:32] #69 closed, assigned to nobody

[2017-05-08 17:19] quintinali commented on #162
@fgreg Did you use this branch - https://github.com/fgreg/mudrod ?

[2017-05-08 17:37] fgreg commented on #162
@quintinali This was during the testing for PR https://github.com/mudrod/mudrod/pull/159. It should be reproducible on that branch https://github.com/mudrod/mudrod/tree/mudrod-132

Also, if you're able to fix, please commit back to that branch so I can continue testing the PR.

[2017-05-08 20:24] lewismc commented on #155
[code]

[2017-05-09 16:45] quintinali commented on #162
@fgreg I submitted modifications into the branch https://github.com/mudrod/mudrod/tree/mudrod-132. Please check it out and let me know if any problem. Thanks.

[2017-05-09 17:11] quintinali commented on #150
@Yongyao  I think I should modify dates format on the rearchitected WebUI. Will do it after testing the latest UI.

[2017-05-09 17:47] fgreg commented on #162
This seems to be resolved with commit https://github.com/mudrod/mudrod/pull/159/commits/819f54fe76624bc3ff2fec3dfa75e79a7c5b025a

This issue will be closed when PR https://github.com/mudrod/mudrod/pull/159/ is closed.

[2017-05-09 17:50] fgreg opened #163 "Full Ingest - Missing metadata_session_coocurrence_matrix.csv"
Running full log ingestion results in the following error:

[code]

[2017-05-09 17:54] quintinali commented on #163
@fgreg I think the metadata_session_coocurrence_matrix.csv generation code is commented out, I will check it.

[2017-05-09 17:59] fgreg commented on #163
@quintinali Ok. If that feature is unavailable we should also disable the `process.sessionBasedCF (sessionBasedCF.java:execute(43)) - *****************Session based metadata similarity starts******************` step so we don't see the exception.

[2017-05-09 18:17] fgreg opened #164 "NumberFormatException during searches"
After completing the full log ingest, I now get an error whenever I try to run a search

The request I am issuing is `http://localhost:8080/mudrod-service/services/metadata/search?query=sst&operator=And`

[code]

[2017-05-09 18:26] Yongyao commented on #164
@fgreg This is due to the recent upgrade of ES API I think. It was fixed in this PR https://github.com/mudrod/mudrod/pull/154/files#diff-f0f82dbbaa887ab6a2696f34ea930730L94

I think https://github.com/mudrod/mudrod/pull/154 has no problem (only 2 minor changes were made), but it is experiencing a build failure. Can you help take a look? After it is merged, this error would disappear.

[2017-05-09 18:40] fgreg commented on #164
@Yongyao I don't see how the changes in that commit would affect searching. The only Java file that changed seems unrelated to searching.

[2017-05-09 18:46] Yongyao commented on #164
@fgreg The fields in the `fieldsList` are the ones that all the queries are based on. This problem is that ES somehow does not understand the wildcard `DatasetParameter-*` any more. I therefore defined it explicitly in the PR.

[2017-05-09 18:50] #148 closed, assigned to Yongyao

[2017-05-09 18:58] fgreg commented on #164
This is resolved by https://github.com/mudrod/mudrod/pull/154

[2017-05-09 18:58] #164 closed, assigned to nobody

[2017-05-09 19:01] fgreg commented on #163
@quintinali Since this issue is not technically blocking log ingestion; I'm going to merge PR https://github.com/mudrod/mudrod/pull/159. Please create a new branch for the fix for this issue.

[2017-05-09 19:06] #162 closed, assigned to quintinali

[2017-05-09 19:06] #161 closed, assigned to fgreg

[2017-05-09 19:06] #160 closed, assigned to fgreg, quintinali

[2017-05-09 19:06] #132 closed, assigned to Yongyao

[2017-05-09 19:09] fgreg commented on #156
Was this a one-time error? I was able to run log ingest locally with default elasticsearch settings.

[2017-05-09 19:37] quintinali commented on #163
@fgreg oh, sorry, I just noticed your comment and have submitted modification into branch 132. Should I revert the commit?

[2017-05-09 19:37] Yongyao commented on #156
Sometime, log removal is a heavy-memory task. Sometime, JAVA heap size needs to be set to 4G (1G by default) to for ES work properly, but not always.

[2017-05-09 20:16] fgreg commented on #163
@quintinali Yea I'd just push to new branch mudrod-163 and open a PR from that branch

[2017-05-09 20:17] lewismc commented on #156
Please close this off folks. I increase Java Heap  via OPTS and all is
good.
Thanks you

On Tue, May 9, 2017 at 12:37 PM Yongyao Jiang <notifications@github.com>
wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director, MCMA Associates
Phone: +1(626)498-3090
Skype: lewis.john.mcgibbney
Email: lewis.mcgibbney@gmail.com

[2017-05-09 20:18] #156 closed, assigned to lewismc

[2017-05-09 21:45] fgreg opened #167 "Full ingest - Error ingesting SSL logs"
When running full log ingestion on the 03-2017 logs, an error is thrown during processing:

[code]

[2017-05-09 21:52] fgreg commented on #167
Note the March logs contain the following files:

[code]

And the April logs contain only the ssl files:

[code]

We should be able to handle both.

[2017-05-09 22:43] fgreg opened #168 "Full Ingest 03/2017 logs fails"
Ingesting 03/2017 logs does not work. Produces an empty `UserHistoryMatrix.csv` and does not create `ClickstreamMatrix.csv`:

[code]

[2017-05-09 22:44] fgreg commented on #168
In order to avoid the problem from issue https://github.com/mudrod/mudrod/issues/167 I just moved the ssl_* files out of the data directory before running full ingest.

[2017-05-09 22:54] #163 closed, assigned to quintinali

[2017-05-09 23:28] #49 closed, assigned to quintinali

[2017-05-10 00:04] fgreg commented on #168
I get a similar error when trying to process 02/2017 logs

[code]

[2017-05-10 15:26] #155 closed, assigned to lewismc

[2017-05-10 15:34] Yongyao commented on #120
Is this done? @quintinali

[2017-05-10 15:35] Yongyao commented on #37
@lewismc Is this done?

[2017-05-10 15:46] #37 closed, assigned to lewismc

[2017-05-10 17:39] quintinali commented on #167
@fgreg  Could you please tell me where did you download logs of 201703? From my side,  I can only see ssl and las logs in ftp://podaac.jpl.nasa.gov/misc/outgoing/cjf/mudrod/2017/03/

├── 03
    │   ├── LAS.201703.gz
    │   ├── ssl_OPeNDAP.201703.gz
    │   ├── ssl_THREDDS.201703.gz
    │   ├── ssl_WWW.201703.gz

[2017-05-10 18:00] fgreg commented on #167
@quintinali Ah it's possible that the non-ssl logs were there previously, I downloaded them, then they were changed to the ssl_ ones and I downloaded them again.

[2017-05-10 18:27] quintinali commented on #120
@Yongyao  yes

[2017-05-10 18:33] #120 closed, assigned to quintinali

[2017-05-10 19:07] lewismc opened #169 "Share experiences running sequential log ingest"
Hi Folks,
I think we should spend some time looking at the sequential log ingest as a possible work around for the issues we are having during log ingest. This will allow us to at least better evaluate and provide feedback on @gxtchen code contributions with the aim of merging that work into master branch.
Can everyone please make an attempt to change the [default processing configuration property

[2017-05-10 20:25] Yongyao commented on #167
@fgreg I wonder, what "ssl" is? and what is the difference between "ssl_WWW.201703.gz" and "WWW.201703.gz"?

[2017-05-10 20:54] quintinali commented on #168
@fgreg  Could you please send the HTTP and FTP logs of 201703 to me or attached them to the comment? I can only download ssl_WWW.201703.gz from the link ftp://podaac.jpl.nasa.gov/misc/outgoing/cjf/mudrod/2017/03

[2017-05-10 21:42] fgreg commented on #167
@Yongyao I think this is related to the effort early this year to ensure all JPL websites are served over https. I think WWW.201703.gz became ssl_WWW.201703.gz when it changed from http to https.

This may also be the reason the log ingestion isn't working; are we matching on http only, not https?

[2017-05-10 21:46] fgreg commented on #168
@quintinali you can use the 02/2017 logs to reproduce this problem as well. If we get the 'ssl_' prefix sorted I'm sure the ssl logs will exhibit the same behavior.

The ssl_ logs are the ones we should be ingesting. If you need to test without fixing the prefix problem https://github.com/mudrod/mudrod/issues/167 , just change the name and remove 'ssl_'

[2017-05-11 18:42] Yongyao commented on #167
It should have been solved through this PR https://github.com/mudrod/mudrod/pull/170

[2017-05-16 20:04] lewismc opened #173 "Upgrade to Jena 3.3.0"
Simple upgrade to most recent Jena version released in May '17

[2017-05-16 23:46] gxtchen commented on #149
I need more information. What image, is it being generated somewhere?

[2017-05-16 23:55] fgreg commented on #149
@gxtchen They were talking about the thumbnail image that shows up when you do a search in PO.DAAC now:

https://podaac.jpl.nasa.gov/datasetlist?search=wind

Maybe you can scrape it straight from PO.DAAC?

[2017-05-16 23:58] Yongyao commented on #149
@fgreg @gxtchen Actually, the image URL of each dataset is contained in the metadata attribute "Dataset-ImageUrl". For instance, "Dataset-ImageUrl": "https://podaac.jpl.nasa.gov/Podaac/thumbnails/CCMP_MEASURES_ATLAS_L3_OW_L2_5_SSMI_F8_WIND_VECTORS_FLK.jpg"

Or, if my guess is correct, maybe we can just create the image URL using JS. As you can see, the image URL is just "https://podaac.jpl.nasa.go

[2017-05-17 00:31] gxtchen commented on #144
Some topic has use comma as separator and some uses / as separator, does javascript support string split with multiple separators?

[2017-05-17 01:14] #173 closed, assigned to lewismc

[2017-05-17 03:29] lewismc commented on #144
Hi @gxtchen please check out [this thread](http://stackoverflow.com/questions/650022/how-do-i-split-a-string-with-multiple-separators-in-javascript#650037), it should do the trick :)

[2017-05-23 18:40] #167 closed, assigned to Yongyao, quintinali

[2017-05-23 18:46] fgreg commented on #168
Fixed by PR https://github.com/mudrod/mudrod/pull/171

[2017-05-23 18:46] #168 closed, assigned to fgreg, quintinali

[2017-05-23 20:14] fgreg opened #176 "DateFormat Parse Exception"
Error when trying to ingest the 2016/12 logs.

Command used was `mudrod-engine -f -dataDir /Users/greguska/data/mudrod/201612`

[code]

[2017-05-23 23:57] fgreg opened #177 "RawMetadata Deleted"
I was trying to ingest 2017/01 data and it seemed to ingest all the way through week 5. But then an exception was thrown and now the 'mudrod' index no longer contains any 'RawMetadata' documents.

The full log is available and the error starts at line 1045:

https://gist.github.com/fgreg/d8592cbd5d04983c5b78d63256016494#file-mudrod-ingest-201701-log-L1045

Why did this wipe out all `RawMetadata` d

[2017-05-24 17:53] quintinali commented on #177
@fgreg Did you use the master branch? I can't reproduce the bug in my laptop.

[2017-05-24 17:57] fgreg commented on #177
Yes this was using master branch. 2016/11 logs were already ingested and when I tried 2017/01 this error occurred and then all data was missing.

I've wiped the index and am trying a fresh ingest of just 2017/01 now. I'll see if it happens again.

[2017-05-24 19:24] fgreg commented on #177
@quintinali Even starting with an empty index I get this error:

[code]

Followed by
[code]

And no `RawMetadata` in the index.

[2017-05-24 20:46] quintinali commented on #177
@fgreg I will try to reingest logs from my side

[2017-05-24 22:01] quintinali commented on #177
@freg please check the PR 179 https://github.com/mudrod/mudrod/pull/179.

[2017-05-24 22:09] #177 closed, assigned to quintinali

[2017-05-25 01:05] fgreg commented on #176
@quintinali Can you look at this issue as well? It's still happening with latest from master. Only for the 2016/12 logs so far though.

[2017-05-25 01:20] quintinali commented on #176
@fgreg Ok, I will try to solve this issue sooner

[2017-05-25 16:45] quintinali commented on #176
@fgreg  The last line of FTP.201612.w1.gz is:

Fri Dec 3Fri Dec 30 11:00:00 2016 1 46.4.24.6 78 /allData/aquarius/L3/mapped/V4/7day_running/SCI/2013/147/Q20131472013153.L3m_R7_SCI_V4.0_SSS_1deg.bz2.md5 b _ o a lftp@ ftp 0 * c

A normal one is:
Wed Dec  7 23:59:59 2016 2 146.201.68.146 20485891 /allData/quikscat/L2B12/v3.1/2000/298/qs_l2b_07018_v3.1_200010240131.nc.gz b _ o a campbell@ ftp 0 * c

C

[2017-05-25 17:08] quintinali commented on #176
@fgreg please check PR https://github.com/mudrod/mudrod/pull/180

[2017-05-25 19:22] fgreg commented on #176
Fixed by PR https://github.com/mudrod/mudrod/pull/180

[2017-05-25 19:22] #176 closed, assigned to quintinali

[2017-05-25 22:28] fgreg opened #181 "NumberFormatException: For input string: "Dec""
While trying to ingest 2016/12 logs:

[code]

[2017-05-25 23:19] fgreg opened #183 "NullPointerException when searching for "ocean wind""
The server is throwing a NullPointerException when searching for ocean wind.

The query being executed is:

https://mudrod-uat.jpl.nasa.gov/services/metadata/search?operator=And&query=ocean+wind

[code]

[2017-05-26 00:45] quintinali opened #184 "Add MUDROD introduction page in github"
@lewismc  A page introducing the MUDROD project already exists on our team's website. Please take a look http://sites.cloud.gmu.edu/sthcp/cases/page-mudrod.php

How about linking to this page from the MUDROD portal?  Is it better to add introductions on https://mudrod.github.io?

[2017-05-26 01:08] lewismc commented on #184
Please submit a pull request to this page from mudrod.github.io... maybe
even add a new Tab
Thank you Yun

On Thu, May 25, 2017 at 5:45 PM quintinali <notifications@github.com> wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director, MCMA Associates
Phone: +1(626)498-3090
Skype: lewis.john.mcgibbney
Email: lewis.mcgibbney@gmail.com

[2017-05-26 07:14] #65 closed, assigned to lewismc, Yongyao

[2017-05-26 07:27] lewismc opened #185 "Complete TestLocalOntology.java"
I need to finish these tests off... should be light work.
https://github.com/mudrod/mudrod/blob/master/core/src/test/java/gov/nasa/jpl/mudrod/ontology/process/TestLocalOntology.java

[2017-05-26 07:30] lewismc opened #186 "Implement parsing of root classes for aggregate/collection ontologies"
I need to address the TODO [here](https://github.com/mudrod/mudrod/blob/master/core/src/main/java/gov/nasa/jpl/mudrod/ontology/process/OwlParser.java#L110-L121)... it's pasted below for clarity
[code]
This is due to the fact that sweetAll.owl has no classes... it only imports other ontologies. I need to implement some logic to step through the imports and recursively process each one in turn, extr

[2017-05-26 07:32] lewismc commented on #66
All of the above commentary is garbage, @gxtchen I will work with you on Monday to ensure that we can get this working.

[2017-05-26 19:19] #184 closed, assigned to quintinali

[2017-05-31 05:55] #186 closed, assigned to lewismc

[2017-05-31 07:02] lewismc commented on #152
Hi @Yongyao, now that I review the process of ontology term expansion, unless there is an equialentClass attribute in the ontology(ies) resource(s), ontology will not help here.
This has to do with stemming in Lucene, so we need to look at what kind of pre-processing is going on prior to the index construction. We should iterate on this.

SWEET for example, maintains the concept of [Altimetry](htt

[2017-05-31 16:04] quintinali commented on #183
@fgreg  I can't open the link above. Do you know which branch is deployed?

[2017-05-31 16:12] fgreg commented on #183
@quintinali Branch https://github.com/mudrod/mudrod/tree/mudrod-117 is deployed to UAT where the error is occurring.

[2017-05-31 17:59] #181 closed, assigned to fgreg

[2017-05-31 18:40] fgreg commented on #144
Decided during meeting today that this issue should be closed in favor of https://github.com/mudrod/mudrod/issues/151

[2017-05-31 18:40] #144 closed, assigned to gxtchen

[2017-05-31 19:15] quintinali opened #188 "Default search fields and autocomplete fields"
1. default search fields
https://github.com/mudrod/mudrod/blob/master/core/src/main/java/gov/nasa/jpl/mudrod/ssearch/Dispatcher.java#L95

2. default autocomplete field
https://github.com/mudrod/mudrod/blob/master/core/src/main/java/gov/nasa/jpl/mudrod/driver/ESDriver.java#L389
https://github.com/mudrod/mudrod/blob/master/core/src/main/resources/elastic_mappings.json#L63

@lewismc  Could you please

[2017-05-31 19:43] lewismc commented on #188
Thank you @quintinali I'll take a look

[2017-05-31 20:11] fgreg commented on #128
Data has been re-indexed

[2017-05-31 20:11] #128 closed, assigned to fgreg

[2017-05-31 20:12] #169 closed, assigned to lewismc, fgreg, Yongyao, quintinali

[2017-06-01 17:11] quintinali opened #189 "query and search operator should remain in the search bar when a query is executed"
1. Search Operator options disappear when a query is executed from index.html, the Operators re-appear when the autocomplete option is selected.
2. query should remain in the search bar in dataset results page.

[2017-06-01 17:21] quintinali opened #190 "improve MUDROD dataset landing page"
1. change terminology of Start/End Date: from $start date - Present (instead of now)
2.  the Format should be changed from RAW to BINARY
3. units should be changed from ‘m’ to ‘km’
4. coverage language needs to reflect that currently on the PO.DAAC Website
5. Doi should be DOI, the link should also be linkable e.g. hyperlink

[2017-06-01 18:35] quintinali commented on #183
@fgreg I ingested logs and metadata in my laptop and "ocean wind" is able to be searched.

![image](https://cloud.githubusercontent.com/assets/8673393/26695072/5913ed58-46be-11e7-84c6-2d0406186eb8.png)

[2017-06-01 18:38] quintinali commented on #189
@fgreg Could you please tell me which branch should I use to improve web UI, master branch, https://github.com/mudrod/mudrod/tree/mudrod-117 or any other branch? Thanks.

[2017-06-01 18:41] fgreg commented on #189
@quintinali For these fixes, use the mudrod-117 branch. Thanks.

[2017-06-01 18:42] fgreg commented on #190
@quintinali Use mudrod-117 branch for this as well.

[2017-06-01 21:20] #35 closed, assigned to lewismc

[2017-06-01 21:20] #34 closed, assigned to lewismc

[2017-06-01 21:21] #33 closed, assigned to Yongyao

[2017-06-01 21:21] #47 closed, assigned to lewismc, Yongyao, quintinali

[2017-06-02 18:31] quintinali opened #193 "a hover-over for all ranking scores is needed in the related searches panel"
_1. Hide ranking scores in the search panel_
2. Add a separated page describing the ranking methodology/recommendation methodology on mudrod.github.io site.
3. Add links to the mudrod.github.io pages at the bottom of the right-hand side recommendation widget

@lewismc @fgreg  Could you please check out the above description to confirm it meets the requirement? Thanks

[2017-06-02 20:00] quintinali opened #194 "Provide SORT BY functionality for facet-based query refinement"
Provide sort by function as shown in the following image
![image](https://cloud.githubusercontent.com/assets/8673393/26742576/15f2a0de-4793-11e7-85c0-600f659c6284.png)

1. long name (a-z)
2 short name(a-z)
3. grid spatial resolution
4. satellite spatial resolution
5. start date
6. stop date

@lewismc Could you please check above description to confirm it meets the requirement? Thanks

[2017-06-02 20:04] lewismc commented on #193
@quintinali can you show me where the following is implemented?
```Hide ranking scores in the search panel```

[2017-06-02 20:05] lewismc commented on #194
It sounds good to me.

[2017-06-02 20:10] quintinali commented on #193
@lewismc Is it necessary to hide those scores assigned to related queries?

![image](https://cloud.githubusercontent.com/assets/8673393/26742896/81461de2-4794-11e7-8717-7a2960a9ea42.png)

[2017-06-02 20:19] lewismc commented on #193
No, please retain the scores, but put a link at the bottom with a link to the page on mudrod.github.io

[2017-06-02 20:38] quintinali commented on #193
Ok, thanks. I will remove the first item in the description.

[2017-06-02 20:53] gxtchen commented on #193
Do you meant to have a link on the last item in "Related Search Panel" to open a new tab to  "mudrod.github.io"?

[2017-06-02 20:55] quintinali commented on #193
I think we should add another item such as "vocabulary similarity algorithm" and  "recommendation algorithm" to link to mudrod.github.io pages. @lewismc How do you think about it? Thanks.

[2017-06-02 21:04] lewismc commented on #193
Yes, something like "Click here for a description of our ranking algorithm(s)." this should open a new tab, NOT navigate the user away from the WebUI.

[2017-06-05 17:47] fgreg opened #195 "Web service startup slow"
The web-service can take 5-10 minutes to start up once Tomcat starts. During this time it will not accept any requests. Is there some way to speed this up?

The relevant log section from application startup:

[code]

The biggest time gap happens between these two lines:

[code]

[code]

So it seems whatever is happening after `LocalOntology.java:load` is taking a very long time.

[2017-06-06 16:28] #190 closed, assigned to quintinali

[2017-06-06 16:42] quintinali opened #196 "DOI needs to be a searchable field"
DOI needs to be a searchable field

[2017-06-06 18:09] fgreg commented on #189
@quintinali I merged the PR 191 but I just noticed a regression that was introduced.

Now the Search options no longer disappear, but they get "pushed down" when the autocomplete form shows up:

![image](https://user-images.githubusercontent.com/1487133/26844593-cbdd2622-4aa8-11e7-9ae6-bf8568ece2c5.png)

[2017-06-06 18:16] quintinali commented on #189
@fgreg  the searcher operator will return to the original position after finishing autocompletion. Do you want the operators are hidden behind the autocompletion list?

[2017-06-06 18:19] fgreg commented on #189
@quintinali Yes I think that would be better. It's weird having them jump all over the place as the size of the suggestion list changes.

[2017-06-06 18:21] quintinali commented on #189
@fgreg Ok, I will open a new issue to fix it. Thanks.

[2017-06-07 16:29] lewismc commented on #188
Please see PR at # the files I've added to both autocompletion and dataset disparcher search are as follows
 * Dataset-EllipsoidType
 * Dataset-ShortName-Full
 * Dataset-LongName-Full
 * Dataset-ProviderDatasetName
 * Dataset-Doi
 * Dataset-TemporalResolution-Group
 * Dataset-PersistentId
 * DatasetCitation-SeriesName
 * DatasetCitation-Title
 * DatasetParameter-Term-Full
 * DatasetParameter-Varia

[2017-06-07 16:57] fgreg commented on #189
Fixed with PR https://github.com/mudrod/mudrod/pull/198

[2017-06-07 16:57] #189 closed, assigned to quintinali

[2017-06-07 17:07] fgreg opened #199 "DOI Value Should be Hyperlink"
* For each MUDROD dataset landing page, Doi should be DOI, the link should also be linkable e.g. hyperlink

Make the DOI value a hyperlink to the PO.DAAC landing page for the dataset.

[2017-06-07 17:32] fgreg commented on #195
@lewismc I haven't had a chance to investigate much on this yet. Do you now what might be going on?

[2017-06-07 18:20] fgreg commented on #183
Error has fixed itself.

[2017-06-07 18:20] #183 closed, assigned to nobody

[2017-06-07 18:40] jplpodaac opened #201 "Spurious Results when using Ocean Wind as Phrase & And"
When searching using the phrase "ocean wind" and also when using the And option, I get 124 results, many of these are spurious, including the following results:

1. ALES_L2_OST_JASON2_V1
2. ALES_L2_OST_ENVISAT_V1
3. JASON-1_L2_OST_GPS_E
4. OSTM_L2_OST_OGDR_GPS
5. JASON-1_L2_OST_GPS_E_GEODETIC
6. JASON-1_L2_OST_GPN_E_GEODETIC
7. OSTM_L2_OGDR_SSHA
8. OSTM_L2_IGDR_SSHA
9. JASON-1_L2_OST_GPN_E
10. REC

[2017-06-07 18:47] jplpodaac opened #202 "Right Click funciton for Links to Dataset Information Pages Loads Empty Page"
When I "right" click on a dataset shortname and attempt to open the corresponding link to the dataset information page as a "new tab", it loads an empty page. It seems as though the way the URL is constructed after the "right" click is initiated is not correct. Here is an example for one particular dataset: https://mudrod-uat.jpl.nasa.gov/#!/datasetView/UCLA_DEALIASED_SASS_L3/ocean%20wind/Phrase/

[2017-06-07 18:49] lewismc commented on #188
Also address the following under this issue
https://github.com/mudrod/mudrod/blob/master/core/src/main/java/gov/nasa/jpl/mudrod/metadata/pre/ApiHarvester.java#L74-L76
Rip out the String mapping, make it a JSON file and read it from the classpath.

[2017-06-07 18:50] quintinali commented on #188
Mapping of raw metadata is configured using dynamic mapping template.
https://github.com/mudrod/mudrod/blob/master/core/src/main/java/gov/nasa/jpl/mudrod/metadata/pre/ApiHarvester.java#L74

[2017-06-07 19:09] quintinali commented on #193
@gxtchen  Could you please add these links at the right panel after changing it to side-by-side tabs
(row 11 in spreadsheet: when you click on a dataset landing page, the two tabs denoting ‘Related datasets’ and ‘Related Searches’ should be side-by-side tabs instead of underneath)

link to related keyword searches algorithm: https://mudrod.github.io/vocabulary-similarity-algorithm/
link to Related

[2017-06-07 19:44] jplpodaac commented on #201
For added clarification, this issue was identified on the mudrod-uat.jpl.nasa.gov interface. This issue is not present when using public-facing mudrod.jpl.nasa.gov interface.

[2017-06-07 19:45] jplpodaac commented on #202
For added clarification, this issue was identified on the mudrod-uat.jpl.nasa.gov interface. This issue is not present when using public-facing mudrod.jpl.nasa.gov interface.

[2017-06-12 17:26] fgreg commented on #194
@quintinali I saw your note on the PR that this requires metadata to be re-indexed. You mean running mudrod-engine with the -m flag correct?

I am now getting this error locally when running a search:

`Caused by: java.lang.IllegalArgumentException: Fielddata is disabled on text fields by default. Set fielddata=true on [Dataset-ShortName] in order to load fielddata in memory by uninverting the inv

[2017-06-12 17:36] quintinali commented on #194
@fgreg  with -m flag,  just data in the metadata type are deleted.  The metadata mapping is not changed. I deleted the "mudrod" index and reingested metadata. But weblog procss result will also be deleted during this process.  So after deleting the "mudrod" index, I also run process() in the WeblogDiscoveryEngine.java file.

https://www.elastic.co/guide/en/elasticsearch/reference/5.0/indices-delet

[2017-06-12 17:40] fgreg commented on #194
@quintinali What are the consequences of deleting the weblog process result?

I'm trying to avoid having to do a full re-ingestion. So I delete `mudrod` index then run `mudrod-engine` with -m? is that right?

[2017-06-12 17:46] quintinali commented on #194
Deleting the weblog process result means word similarity results are deleted, so the right panel can not provide related search keywords.

@fgreg

1. delete mudrod index
2. run mudrod-engine -m to ingest metadata
3. comment out "wd.preprocess();" in startLogIngest() function  in MudrodEngine.java
4. run mudrod-engine -l to process web logs
5. remove comment to wd.preprocess().

Through above steps

[2017-06-12 17:57] fgreg commented on #194
@quintinali We have 8 months of logs now, so I would have to do this for all 8 months?

I can't comment out code in the production (or UAT) deployment.

[2017-06-12 18:11] quintinali commented on #194
@fgreg monthly logs are stored in different indexes rather than the "mudrod" index. For example, podaaclog201611.w5.gz log is stored in "podaaclog201611.w5.gz". Deleting "mudrod" index will only delete log processing results not the original logs.

I think we have two choices.
(1) add a separated command to process web logs. Processing logs ( calculate user history and click stream data) is much q

[2017-06-12 18:21] quintinali commented on #194
@fgreg For the autocompletion part, @lewismc also changed metadata mapping. @lewismc Do you have any suggestion to solve above issue?

[2017-06-12 18:34] fgreg commented on #194
@quintinali What is it we're trying to change exactly? If I query my local index:

http://127.0.0.1:9200/mudrod/_mapping/RawMetadata

I see:

[code]

Isn't the `"fielddata": true,` what we're looking for? What else needs to get updated?

[2017-06-12 18:35] quintinali commented on #194
@fgreg updates include:
(1) "fielddata": true
(2) "fields": {
            "raw": {
              "type": "string",
              "index": "not_analyzed"
            }
          }

[2017-06-12 18:40] fgreg commented on #194
@quintinali So what I have right now should work? Is my error related to something introduced by @lewismc ?

[2017-06-12 18:43] quintinali commented on #194
@fgreg I don't think so. Could you please check the mapping of Dataset-ShortName field in RawMetadata? I think it is not updated.

What you posted is the "dynamic_templates". Those updates should be applied to every field in the RawMetadata type.

[2017-06-12 18:47] fgreg commented on #194
@quintinali Correct, "Dataset-Shortname" does not show `"fielddata": true`. Right now it is:

[code]

What should it be? If I understand correctly, it should be:

[code]

[2017-06-12 19:07] quintinali commented on #194
@fgreg Form my side, the mapping is:
"Dataset-ShortName": {
                  "type": "text",
                  "analyzer": "english",
                  "fielddata": true
 }

[2017-06-12 19:12] quintinali commented on #194
@fgreg  I'm very sorry. What I just posted is wrong. The mapping queried from sense is as following:

"Dataset-ShortName": {
                  "type": "text",
                  "fields": {
                     "raw": {
                        "type": "keyword"
                     }
                  },
                  "analyzer": "english",
                  "fielddata": true
               },

[2017-06-12 19:32] fgreg commented on #194
@quintinali I was able to update the mapping directly using a `PUT` request and it seems to work now:

[code]

Do I need to do this to all fields that have only `"type": "text"` and `"analyzer": "english"` currently? Or is updating the `Dataset-ShortName` good enough?

[2017-06-12 19:45] quintinali commented on #194
@fgreg

(1) "fielddata": true is used to enable sort function for a field. Thus this mapping should be added to all fields related to "sort by function" shown in https://github.com/mudrod/mudrod/pull/204/files#diff-9589b36f921018b8701d9c6841682406R118
(2) "fields": {"raw": {"type": "keyword"}} is used to enable sort by A-Z function on  Dataset-ShortName and  Dataset-LongName fields.
(3) To simplif

[2017-06-12 20:08] fgreg commented on #194
@quintinali The other sort-by properties are all either long or float type and do not support `fielddata = true`.

I think the only mappings that need to be updated are `Dataset-ShortName` and `Dataset-LongName`

I ran these two commands to update the mappings in my index. This should be reproducible in UAT and PROD:

[code]

[2017-06-12 20:14] quintinali commented on #194
@fgreg Thanks for providing the solution for updating metadata mapping. Please let me know if any other problem.

[2017-06-12 22:15] #199 closed, assigned to quintinali

[2017-06-14 01:41] fgreg commented on #202
This was fixed as part of PR https://github.com/mudrod/mudrod/pull/206

The fix is currently deployed to UAT.

[2017-06-14 01:42] fgreg commented on #201
This may have been fixed now with PR https://github.com/mudrod/mudrod/pull/206.

Please check the UAT site again.

[2017-06-14 17:17] fgreg commented on #151
Fixed with PR https://github.com/mudrod/mudrod/pull/206

[2017-06-14 17:24] fgreg opened #207 "Fix Display of Measurements on DatasetDetail"
The Measurements on the DatasetDetail page are being rendered incorrectly when there are multiple.

Using the ALES_L2_OST_JASON2_V1 dataset as an example:

![image](https://user-images.githubusercontent.com/1487133/27145495-e37b983e-50ea-11e7-9329-d64dcc390cba.png)

It should look like PO.DACC:

![image](https://user-images.githubusercontent.com/1487133/27145665-717b8dec-50eb-11e7-9ac0-72c2076a5af

[2017-06-14 22:31] fgreg opened #209 "Path Variables need to be Query Parameters"
Currently the search terms, operators, and shortname are all defined as path variables. They should instead be query parameters.

[2017-06-14 23:32] quintinali opened #210 "Add Logo of GMU center at the banner"
@lewismc @fgreg I attended the ESTF meeting this week and showed the mudrod website mudrod.jpl.nasa.gov to Prof.Yang. He want us to add the GMU center logo (stccenter.net/stc) at the top banner

[2017-06-15 00:10] fgreg commented on #210
@quintinali Do you have a hi-res image of the logo you are talking about?

Also, which top banner are you referring to? Next to the NASA Logo? That top banner is required by JPL policy for *.jpl.nasa.gov websites so I don't know if we can alter it; but I can find out.

[2017-06-15 00:17] fgreg commented on #210
@quintinali I looked at the policy again and it seems there won't be an issue with an extra logo.

[2017-06-15 00:19] quintinali commented on #210
@fgreg Thanks. I am on my way back home from the meeting. I will send the
high  resolution logo to you as soon as I get it.

On Wed, Jun 14, 2017 at 5:17 PM fgreg <notifications@github.com> wrote:

[2017-06-15 04:17] quintinali commented on #210
@fgreg  Attache is the logo of STC center. Please let me know if any problem.
![stc_logo](https://user-images.githubusercontent.com/8673393/27165124-cedd3976-5146-11e7-926c-6daed0e4c31b.png)

[2017-06-15 13:18] freg commented on #210
Hi,
I'm not fgreg, i'm freg !
You have to verify the address of your dest...
Regards,
François

2017-06-15 0:17 GMT-04:00 quintinali <notifications@github.com>:

[2017-06-15 16:17] fgreg commented on #210
@quintinali Do you have one where the background is transparent?

[2017-06-16 16:32] quintinali commented on #210
@fgreg Attached is the logo with a transparent background. Please use this one. Thanks.
![stcenter_logo](https://user-images.githubusercontent.com/8673393/27235706-b04e4ac8-5276-11e7-90aa-5dc1bfe16fae.png)

[2017-06-19 20:21] fgreg commented on #209
Complete https://github.com/mudrod/mudrod/pull/211

[2017-06-19 20:21] #209 closed, assigned to fgreg

[2017-06-19 20:22] fgreg commented on #207
Complete https://github.com/mudrod/mudrod/pull/208

[2017-06-19 20:22] #207 closed, assigned to fgreg

[2017-06-19 20:22] fgreg commented on #151
Complete https://github.com/mudrod/mudrod/issues/206

[2017-06-19 20:22] #151 closed, assigned to fgreg

[2017-06-19 20:23] fgreg commented on #150
Complete.

[2017-06-19 20:23] #150 closed, assigned to gxtchen

[2017-06-19 20:23] fgreg commented on #142
Complete.

[2017-06-19 20:23] #142 closed, assigned to gxtchen

[2017-06-19 20:23] fgreg commented on #117
Complete

[2017-06-19 20:23] #117 closed, assigned to gxtchen

[2017-06-19 20:25] fgreg commented on #202
Fix is deployed to mudrod.jpl.nasa.gov. @jplpodaac Please verify and close the issue if it is working.

[2017-06-19 20:25] fgreg commented on #201
Fix is live on mudrod.jpl.nasa.gov. @jplpodaac Please verify and close the issue if it looks good now.

[2017-06-19 21:33] fgreg commented on #193
Complete https://github.com/mudrod/mudrod/pull/206/commits/8bb5ca69171b3a083a23a26ceb67d0c5602bb108

[2017-06-19 21:33] #193 closed, assigned to lewismc, fgreg, quintinali

[2017-06-20 20:21] #210 closed, assigned to nobody

[2017-06-20 20:23] #194 closed, assigned to lewismc, quintinali

[2017-06-20 20:26] lewismc opened #212 "Implement UserALE.js to obtain MUDROD WebUI Metrics"
[Apache UserALE.js](http://senssoft.apache.org/userale/) will enable us, with a single line of code, capture all MUDROD users’ behavior on the GUI with enough resolution and granularity for advanced behavioral modeling. Apache UserALE is a free, open-source application for standard user event tracking, but is specially tailored for capturing behavior in web applications build for productivity—data

[2017-06-21 17:23] lewismc commented on #196
We may wish to utilize the following
https://github.com/jprante/elasticsearch-analysis-standardnumber

[2017-06-21 17:55] lewismc opened #213 "Add build timstamp to the bottom on MUDROD WebUI"
If you scroll the bottom of the application hosted at [Any23.org](http://any23.org/) you will see a very smart ```Apache Any23 v.2.1-SNAPSHOT (2017-06-05 19:11:41+0000)``` application and timestamp signature which indicates very clearly what functionality should be present and expected from the application.
The code to implement that can be found at the following
https://github.com/apache/any23/bl

[2017-06-21 22:18] quintinali commented on #212
@lewismc This tool sounds very useful. We also want to improve ranking performance from clickthrough data as described in https://www.cs.cornell.edu/people/tj/publications/joachims_02c.pdf.  In summary, a search engine should be able to record the position of clicked pages.  For example, to a query "sst", the search engine returns a list of related metadata and records the position ( page number a

[2017-06-21 22:29] lewismc commented on #212
YES :+1: I am going to start work on this with the aim of getting the click events streaming into our ES instance @quintinali . Thank you for providing the link to the paper.

[2018-03-06 19:16] clarkgogogo opened #216 "Error when importing PD data in Mudrod"
We installed Mudrod and ElasticSearch 5.2.2 in CentOS 7.  Now we are trying to import PD test data into Mudrod system, so we generated 37583 metadata json files from ElasticSearch (this process is in my own Mac computer).  Then these Json files were copied to the CentOS virtual machine which has Mudrod and ElasticSearch installed.

When trying to run the following command:
./core/target/appassembl

[2018-03-06 19:18] #216 closed, assigned to nobody

[2018-03-07 01:44] lewismc commented on #216
hi @clarkgogogo as explained in the [README](https://github.com/aist-oceanworks/mudrod/blob/master/README.md) the project has moved to Apache under the [incubator-sdap-mudrod](https://github.com/apache/incubator-sdap-mudrod) project. If you have issues, please submit them there. Thanks.

[2020-12-16 08:54] lzz156 commented on #181
tongyang d wenti